### Pandas 复习

In [2]:
import numpy as np
import pandas as pd

In [16]:
s = pd.Series([1, 2, 3, 5, np.nan], index=["a", 'b', 'c', 'd', 'f'])
s.index.name = "index"

In [26]:
s.index = list("abced")
s

a    1.0
b    2.0
c    3.0
e    5.0
d    NaN
dtype: float64

In [19]:
info_person = pd.Series([12, 13, 14], name="name", index=['zhang', 'wang', 'li'], dtype=float)

In [24]:
info_person.index.name = "name"
info_person

name
zhang    12.0
wang     13.0
li       14.0
Name: name, dtype: float64

In [28]:
data = pd.date_range("20190901", periods=6)
data

DatetimeIndex(['2019-09-01', '2019-09-02', '2019-09-03', '2019-09-04',
               '2019-09-05', '2019-09-06'],
              dtype='datetime64[ns]', freq='D')

In [31]:
df = pd.DataFrame(np.random.randn(6,4), index=data, columns=list("ABCD"))
df

                   A         B         C         D
2019-09-01 -0.467294 -0.526513 -1.035542 -0.825335
2019-09-02 -0.828865 -1.492794  0.308125 -0.985164
2019-09-03 -0.014451  0.435578  0.338487  1.763506
2019-09-04 -0.123403  2.448587 -0.312051 -0.806541
2019-09-05  0.179893 -0.231436  0.726942  1.223075
2019-09-06 -0.384595  1.837950  1.426898  0.580281

In [32]:
#数据分离操作

In [33]:
index = pd.Index(data = ["zhang", "tom"], name="name")
data = {"age": [12, 13],
       "city": ["xian", "beijin"]}

In [36]:
df = pd.DataFrame(data=data, index=index)
df

       age    city
name
zhang   12    xian
tom     13  beijin

In [37]:
df = pd.read_excel("douban.xlsx")

In [38]:
df.head(5)

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [39]:
df.tail()

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38733,神学院 S,46.0,Adult,法国,1905-06-05 00:00:00,58,1983,8.6,美国
38734,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38735,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国
38736,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.0,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国

In [58]:
#数据统计
df3 = df.sort_values(by="评分", ascending=False)

In [59]:
df3.head(5)

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
23559,未作回答的问题：伯恩斯坦哈佛六讲,61.0,纪录片,美国,1905-05-29 00:00:00,60,1973,9.9,美国
25273,索科洛夫：巴黎现场,43.0,音乐,法国,2002-11-04 00:00:00,127,2002,9.9,美国
1110,NaN,76.0,科幻/纪录片,美国,1905-06-23 00:00:00,75,2001,9.9,美国
9278,平安结祈 平安結,208.0,音乐,日本,2012-02-24 00:00:00,60,2012,9.9,美国
35470,NaN,46.0,纪录片/音乐,韩国,2013-10-31 00:00:00,90,2013,9.9,韩国

In [63]:
df3.评分.nlargest()

23559    9.9
25273    9.9
1110     9.9
9278     9.9
35470    9.9
Name: 评分, dtype: float64

In [64]:
pd.cut(df.评分, [2, 5, 8, 10])

0        (8, 10]
1        (8, 10]
2        (8, 10]
3        (8, 10]
4        (8, 10]
5        (8, 10]
6        (8, 10]
7        (8, 10]
8        (8, 10]
9        (8, 10]
10       (8, 10]
11       (8, 10]
12       (8, 10]
13       (8, 10]
14       (8, 10]
15       (8, 10]
16       (8, 10]
17       (8, 10]
18       (8, 10]
19       (8, 10]
20       (8, 10]
21       (8, 10]
22       (8, 10]
23       (8, 10]
24       (8, 10]
25       (8, 10]
26       (8, 10]
27       (8, 10]
28       (8, 10]
29       (8, 10]
          ...
38708     (5, 8]
38709    (8, 10]
38710    (8, 10]
38711     (5, 8]
38712     (5, 8]
38713     (5, 8]
38714     (5, 8]
38715     (5, 8]
38716     (5, 8]
38717     (5, 8]
38718    (8, 10]
38719    (8, 10]
38720    (8, 10]
38721    (8, 10]
38722    (8, 10]
38723    (8, 10]
38724     (5, 8]
38725     (5, 8]
38726     (5, 8]
38727    (8, 10]
38728    (8, 10]
38729     (5, 8]
38730    (8, 10]
38731    (8, 10]
38732    (8, 10]
38733    (8, 10]
38734     (5, 8]
38735     (5, 8]
38736     (5, 8]
38737     (5, 8]
Name: 评分, Length: 38738, dtype: category
Categories (3, interval[int64]): [(2, 5] < (5, 8] < (8, 10]]

In [68]:
df.评分.mean()
df.评分.describe()
df.产地.describe(include=["object"])

count     38738
unique       28
top          美国
freq      11866
Name: 产地, dtype: object

In [77]:
#添加一行数据
dit = {"名字":"钢铁侠", "投票人数":111111, "类型":"科幻","产地":"美国","上映时间":"2018","时长":142,
      "年代":2018, "评分":np.nan, "首映地点":"美国"}
dit

{'名字': '钢铁侠',
 '投票人数': 111111,
 '类型': '科幻',
 '产地': '美国',
 '上映时间': '2018',
 '时长': 142,
 '年代': 2018,
 '评分': nan,
 '首映地点': '美国'}

In [80]:
df = pd.read_excel("douban.xlsx")

In [113]:
#添加一行数据
dit = {"名字":"钢铁侠", "投票人数":111111, "类型":"科幻","产地":"美国","上映时间":"2018","时长":142,
      "年代":2018, "评分":np.nan, "首映地点":"美国"}
dit

{'名字': '钢铁侠',
 '投票人数': 111111,
 '类型': '科幻',
 '产地': '美国',
 '上映时间': '2018',
 '时长': 142,
 '年代': 2018,
 '评分': nan,
 '首映地点': '美国'}

In [114]:
s = pd.Series(dit)
s

名字         钢铁侠
投票人数    111111
类型          科幻
产地          美国
上映时间      2018
时长         142
年代        2018
评分         NaN
首映地点        美国
dtype: object

In [115]:
df = df.append(s, ignore_index=True)
df.tail(1)

        名字      投票人数  类型  产地  上映时间   时长    年代  评分 首映地点
38738  钢铁侠  111111.0  科幻  美国  2018  142  2018 NaN   美国

In [92]:
df.count()

名字      38180
投票人数    38740
类型      38740
产地      38740
上映时间    38738
时长      38740
年代      38740
评分      38738
首映地点    38739
dtype: int64

In [94]:
df.tail(1)

        名字      投票人数  类型  产地  上映时间   时长    年代  评分 首映地点
38739  钢铁侠  111111.0  科幻  美国  2018  142  2018 NaN   美国

In [104]:
df = df.drop(38738)

In [116]:
df.tail(1)

        名字      投票人数  类型  产地  上映时间   时长    年代  评分 首映地点
38738  钢铁侠  111111.0  科幻  美国  2018  142  2018 NaN   美国

In [110]:
df.loc[[1, 2, 3]]
df.loc[[1, 2, 3], ['产地', '年代']]

    产地    年代
1   美国  1957
2  意大利  1997
3   美国  1994

In [117]:
df[df.评分.isnull()]

        名字      投票人数  类型  产地  上映时间   时长    年代  评分 首映地点
38738  钢铁侠  111111.0  科幻  美国  2018  142  2018 NaN   美国

In [118]:
df.评分.fillna(np.mean(df.评分), inplace=True)

In [120]:
df.tail(1)

        名字      投票人数  类型  产地  上映时间   时长    年代        评分 首映地点
38738  钢铁侠  111111.0  科幻  美国  2018  142  2018  6.935704   美国