# pandas 进阶修炼 ｜早起Python
<br>

**本习题由公众号【早起Python & 可视化图鉴】 原创，转载及其他形式合作请与我们联系（微信号`sshs321`)，未经授权严禁搬运及二次创作，侵权必究！**



本习题基于 `pandas` 版本 `1.1.3`，所有内容应当在 `Jupyter Notebook` 中执行以获得最佳效果。

不同版本之间写法可能会有少许不同，如若碰到此情况，你应该学会如何自行检索解决。

## 5 - 数据筛选与修改


<br>

现在，终于来到 `pandas` 数据分析中最**高频**的操作，没有之一————数据的`增删改查`

在后面的分组、聚合、透视、可视化等多个操作中，数据的筛选、修改操作也会不断出现。

因此在本章节，我整理了 40 余个常用操作

以习题的形式，带大家回顾利用 `pandas` 进行数据的增删改查。

需要注意的是，**本节中的大部分习题都有两个、三个或者更多的解法**，但我仅提供一个思路。

我提供的并非唯一也并非最优的方法，欢迎大家集思广益，加入 pandas 星球来提交你的解答并获得一定奖励。

## 初始化

<br>

该 `Notebook` 版本为**习题+答案版**


请执行下方单元格以初始化读取本节习题的答案

执行完毕后，你可以使用 `ans(1)` 来查看第 1 题的参考解答，其余习题类似。

注意：所有答案并非固定（唯一），我提供的答案仅供参考（并非推荐答案或者最优解）

如果发现任何错误或者你有更好的解答，可以微信搜索公众号「早起Python」提交以获得奖励！

In [2]:
import sys
import numpy as np
# sys.path.append('../document/')
# from init import initialize, ans
# res = initialize("../document/answer-5.txt")

## 加载数据

In [3]:
import pandas as pd

# df = pd.read_html("https://olympics.com/tokyo-2020/olympic-games/zh/results/all-sports/medal-standings.htm")[0]

df = pd.read_csv("东京奥运会奖牌数据.csv")  # 如果未联网可以使用这条命令加载数据

In [4]:
df.head()

   排名 国家奥委会  Unnamed: 2  Unnamed: 3  Unnamed: 4   总分  按总数排名 国家奥委会代码
0   1    美国          39          41          33  113      1     USA
1   2    中国          38          32          18   88      2     CHN
2   3    日本          27          14          17   58      5     JPN
3   4    英国          22          21          22   65      4     GBR
4   5   ROC          20          28          23   71      3     ROC

## 5-1 数据修改

### 1- <font color = '#FB8E00'>数据修改</font>｜列名

<br>

将原 `df` 列名 `Unnamed: 2`、`Unnamed: 3`、`Unnamed: 4` 修改为 `金牌数`、`银牌数`、`铜牌数`

In [5]:
df.rename(columns={'Unnamed: 2':'金牌数',
                  'Unnamed: 3':'银牌数',
                  'Unnamed: 4':'铜牌数'},inplace=True)

### 2 - <font color = '#FB8E00'>数据修改</font>｜行索引

<br>

将第一列（排名）设置为索引

In [6]:
df.set_index("排名", inplace=True)

### 3 - <font color = '#FB8E00'>数据修改</font>｜修改索引名

<br>

修改索引名为 金牌排名

In [17]:
df.rename_axis("金牌排名",inplace=True)
df.head()

     国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
金牌排名
1       美国   39   41   33  113      1     USA
2       中国   38   32   18   88      2     CHN
3       日本   27   14   17   58      5     JPN
4       英国   22   21   22   65      4     GBR
5     俄奥委会   20   28   23   71      3     ROC

### 4 - <font color = '#FB8E00'>数据修改</font>｜修改值

<br>

将 ROC（第一列第五行）修改为 俄奥委会

In [26]:
df.iloc[4,0] = '俄奥委会'

### 5 - <font color = '#FB8E00'>数据修改</font>｜替换值（单值）

<br>

将金牌数列的数字 `0` 替换为 `无`

In [27]:
df['金牌数'].replace(0,'无',inplace=True)

### 6 - <font color = '#FB8E00'>数据修改</font>｜替换值（多值）

同时替换

- 将 `无` 替换为 缺失值
- 将 0 替换为 `None`

注意：缺失值的 Nan 该怎么生成？

In [28]:
import numpy as np
df.replace(['无',0],[np.nan,'None'],inplace = True)

### 7 - 数据查看

查看各列数据类型

In [29]:
df.dtypes

国家奥委会       object
金牌数        float64
银牌数         object
铜牌数         object
总分          object
按总数排名       object
国家奥委会代码     object
银铜牌总数       object
金牌占比        object
dtype: object

### 8 - <font color = '#FB8E00'>数据修改</font>｜修改类型

将 `金牌数` 列类型修改为 `int`

In [30]:
df['金牌数'] = df['金牌数'].fillna('0').astype(int)

### 9 - <font color = '#1B85FF' >数据增加</font>｜新增列（固定值）

<br>

**重新加载数据** 并 **新增一列** 比赛地点，值为 `东京`

In [31]:
df['比赛地点'] = '东京'

### 10 - <font color = '#1B85FF' >数据增加</font>｜新增列（计算值）

<br>

**新增一列** 金银牌总数列，值为该国家金银牌总数

In [32]:
df = df.replace('None',0)
df['金银牌总数']  = df['金牌数']  + df['银牌数']

### 11 - <font color = '#1B85FF' >数据增加</font>｜新增列（比较值）

新增一列 最多奖牌数量 列，值为该过金银牌数量种最多的一个奖牌数量

例如美国银牌最多，则为41，中国为38

In [33]:
# bfill为填充缺失值
df['最多奖牌数量'] = df.bfill(1)[["金牌数", "银牌数",'铜牌数']].max(1)

### 12 - <font color = '#1B85FF' >数据增加</font>｜新增列（判断值）

新增一列 金牌大于30

如果一个国家的金牌数大于 30 则值为 是，反之为 否

In [34]:
df['金牌大于30']  = np.where(df['金牌数'] > 30, '是', '否')

In [35]:
np.where(df["金牌数"] > 30, "是", "否")

array(['是', '是', '否', '否', '否', '否', '否', '否', '否', '否', '否', '否', '否',
       '否', '否', '否', '否', '否', '否', '否', '否', '否', '否', '否', '否', '否',
       '否', '否', '否', '否', '否', '否', '否', '否', '否', '否', '否', '否', '否',
       '否', '否', '否', '否', '否', '否', '否', '否', '否', '否', '否', '否', '否',
       '否', '否', '否', '否', '否', '否', '否', '否', '否', '否', '否', '否', '否',
       '否', '否', '否', '否', '否', '否', '否', '否', '否', '否', '否', '否', '否',
       '否', '否', '否', '否', '否', '否', '否', '否', '否', '否', '否', '否', '否',
       '否', '否'], dtype='<U1')

### 13 - <font color = '#1B85FF' >数据增加</font>｜增加多列

新增两列，分别是

- 金铜牌总数（金牌数+铜牌数）
- 银铜牌总数（银牌数+铜牌数）

In [36]:
df = df.assign(金铜牌总数=df.金牌数 + df.铜牌数,
         银铜牌总数=df.银牌数+df.铜牌数)

### 14 - <font color = '#1B85FF' >数据增加</font>｜新增列（引用变量）

新增一列金牌占比，为各国金牌数除以总金牌数（gold_sum）

In [37]:
gold_sum = df['金牌数'].sum()

In [38]:
df.eval(f'金牌占比 = 金牌数 / {gold_sum}',inplace=True)

### 15 - <font color = '#1B85FF' >数据增加</font>｜新增行（末尾追加）

<br>

在 df 末尾追加一行，内容为 0,1,2,3... 一直到 `df` 的列长度

In [39]:
df1 = pd.DataFrame([[i for i in range(len(df.columns))]], columns=df.columns)
df_new = df.append(df1)

### 16 - <font color = '#1B85FF' >数据增加</font>｜新增行（指定位置）

<br>

在第 2 行新增一行数据，即美国和中国之间。

数据内容同上一题

In [40]:
df1 = df.iloc[:1, :]
df2 = df.iloc[1:, :]
df3 = pd.DataFrame([[i for i in range(len(df.columns))]], columns=df.columns)
df_new = pd.concat([df1, df3, df2], ignore_index=True)

### 17 - <font color ='#27BE49'>数据删除</font>｜删除行

<br>

删除 `df` 第一行

In [41]:
df.drop(1)

,国家奥委会,金牌数,银牌数,铜牌数,总分,按总数排名,国家奥委会代码,银铜牌总数,金牌占比,比赛地点,金银牌总数,最多奖牌数量,金牌大于30,金铜牌总数
排名,,,,,,,,,,,,,,
2,中国,38,32,18,88,2,CHN,50,0.111765,东京,70,38.0,是,56
3,日本,27,14,17,58,5,JPN,31,0.079412,东京,41,27.0,否,44
4,英国,22,21,22,65,4,GBR,43,0.064706,东京,43,22.0,否,44
5,俄奥委会,20,28,23,71,3,ROC,51,0.058824,东京,48,28.0,否,43
6,澳大利亚,17,7,22,46,6,AUS,29,0.050000,东京,24,22.0,否,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,加纳,0,0,1,1,77,GHA,1,0.000000,东京,0,1.0,否,1
86,格林纳达,0,0,1,1,77,GRN,1,0.000000,东京,0,1.0,否,1
86,科威特,0,0,1,1,77,KUW,1,0.000000,东京,0,1.0,否,1
86,摩尔多瓦,0,0,1,1,77,MDA,1,0.000000,东京,0,1.0,否,1
86,叙利亚,0,0,1,1,77,SYR,1,0.000000,东京,0,1.0,否,1

### 18 - <font color ='#27BE49'>数据删除</font>｜删除行（条件）

In [42]:
df.drop(df[df.金牌数<20].index)

,国家奥委会,金牌数,银牌数,铜牌数,总分,按总数排名,国家奥委会代码,银铜牌总数,金牌占比,比赛地点,金银牌总数,最多奖牌数量,金牌大于30,金铜牌总数
排名,,,,,,,,,,,,,,
1,美国,39,41,33,113,1,USA,74,0.114706,东京,80,41.0,是,72
2,中国,38,32,18,88,2,CHN,50,0.111765,东京,70,38.0,是,56
3,日本,27,14,17,58,5,JPN,31,0.079412,东京,41,27.0,否,44
4,英国,22,21,22,65,4,GBR,43,0.064706,东京,43,22.0,否,44
5,俄奥委会,20,28,23,71,3,ROC,51,0.058824,东京,48,28.0,否,43

### 19 - <font color ='#27BE49'>数据删除</font>｜删除列

<br>

删除刚刚新增的 比赛地点 列

In [43]:
df.drop(columns=['比赛地点'],inplace=True)

### 20 - <font color ='#27BE49'>数据删除</font>｜删除列（按列号）

<br>

删除 `df` 的 `7、8、9、10` 列

In [45]:
df.drop(df.columns[[7,8,9,10]], axis=1,inplace=True)

## 5-2 数据筛选

以下所有答案要求返回的是一个 dataframe 而不是 Series 这样可以直接存储为 Excel 等格式的文件！

### 21 - 重新加载数据

In [46]:
import pandas as pd

# df = pd.read_html("https://olympics.com/tokyo-2020/olympic-games/zh/results/all-sports/medal-standings.htm")[0]

df = pd.read_csv("东京奥运会奖牌数据.csv")  # 如果未联网可以使用这条命令加载数据

df.rename(columns={'Unnamed: 2':'金牌数',
                  'Unnamed: 3':'银牌数',
                  'Unnamed: 4':'铜牌数'},inplace=True)


### 22 - <font color = '#FB8E00'>筛选列</font>｜通过列号

提取第 1、2、3、4 列

In [47]:
df.iloc[:,[0,1,2,3]]

    排名 国家奥委会  金牌数  银牌数
0    1    美国   39   41
1    2    中国   38   32
2    3    日本   27   14
3    4    英国   22   21
4    5   ROC   20   28
..  ..   ...  ...  ...
88  86    加纳    0    0
89  86  格林纳达    0    0
90  86   科威特    0    0
91  86  摩尔多瓦    0    0
92  86   叙利亚    0    0

[93 rows x 4 columns]

### 23 - <font color = '#FB8E00'>筛选列</font>｜通过列名

提取 `金牌数、银牌数、铜牌数` 三列

In [48]:
df[['金牌数','银牌数','铜牌数']]

    金牌数  银牌数  铜牌数
0    39   41   33
1    38   32   18
2    27   14   17
3    22   21   22
4    20   28   23
..  ...  ...  ...
88    0    0    1
89    0    0    1
90    0    0    1
91    0    0    1
92    0    0    1

[93 rows x 3 columns]

### 24 - <font color = '#FB8E00'>筛选列</font>｜条件（列号）

筛选全部 **奇数列**

In [49]:
df.iloc[:,[i%2==1 for i in range(len(df.columns))]]

   国家奥委会  银牌数   总分 国家奥委会代码
0     美国   41  113     USA
1     中国   32   88     CHN
2     日本   14   58     JPN
3     英国   21   65     GBR
4    ROC   28   71     ROC
..   ...  ...  ...     ...
88    加纳    0    1     GHA
89  格林纳达    0    1     GRN
90   科威特    0    1     KUW
91  摩尔多瓦    0    1     MDA
92   叙利亚    0    1     SYR

[93 rows x 4 columns]

### 25 - <font color = '#FB8E00'>筛选列</font>｜条件（列名）

提取全部列名中包含 数 的列

In [ ]:
df.loc[:, df.columns.str.endswith('数')]

### 26 - <font color = '#FB8E00'>筛选列</font>｜组合（行号+列名）

提取倒数后三列的10-20行

In [ ]:
df.loc[10:20, '总分':]

### 27 - <font color = '#1B85FF' >筛选行</font>｜通过行号

提取第 10 行

In [56]:
df.loc[9:9]

   排名 国家奥委会  金牌数  银牌数  铜牌数  总分  按总数排名 国家奥委会代码
9  10   意大利   10   10   20  40      7     ITA

### 28 -  <font color = '#1B85FF' >筛选行</font>｜通过行号（多行）

提取第 10 行之后的全部行

In [57]:
df.loc[9:]

    排名 国家奥委会  金牌数  银牌数  铜牌数  总分  按总数排名 国家奥委会代码
9   10   意大利   10   10   20  40      7     ITA
10  11   加拿大    7    6   11  24     11     CAN
11  12    巴西    7    6    8  21     12     BRA
12  13   新西兰    7    6    7  20     13     NZL
13  14    古巴    7    3    5  15     18     CUB
..  ..   ...  ...  ...  ...  ..    ...     ...
88  86    加纳    0    0    1   1     77     GHA
89  86  格林纳达    0    0    1   1     77     GRN
90  86   科威特    0    0    1   1     77     KUW
91  86  摩尔多瓦    0    0    1   1     77     MDA
92  86   叙利亚    0    0    1   1     77     SYR

[84 rows x 8 columns]

### 29 - <font color = '#1B85FF' >筛选行</font>｜固定间隔

提取 0-50 行，间隔为 3

In [58]:
df[:50:3]

    排名  国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
0    1     美国   39   41   33  113      1     USA
3    4     英国   22   21   22   65      4     GBR
6    7     荷兰   10   12   14   36      9     NED
9   10    意大利   10   10   20   40      7     ITA
12  13    新西兰    7    6    7   20     13     NZL
15  16     韩国    6    4   10   20     13     KOR
18  19    肯尼亚    4    4    2   10     25     KEN
21  22    西班牙    3    8    6   17     17     ESP
24  25     丹麦    3    4    4   11     23     DEN
27  28   塞尔维亚    3    1    5    9     26     SRB
30  31  斯洛文尼亚    3    1    1    5     42     SLO
33  34   中华台北    2    4    6   12     22     TPE
36  36    乌干达    2    1    1    4     47     UGA
39  39    以色列    2    0    2    4     47     ISR
42  42    科索沃    2    0    0    2     66     KOS
45  46   罗马尼亚    1    3    0    4     47     ROU
48  49   中国香港    1    2    3    6     39     HKG

### 30 -  <font color = '#1B85FF' >筛选行</font>｜判断（大于）

提取 金牌数 大于 30 的行

In [59]:
df[df['金牌数'] > 30]

   排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
0   1    美国   39   41   33  113      1     USA
1   2    中国   38   32   18   88      2     CHN

### 31 -  <font color = '#1B85FF' >筛选行 </font>｜判断（等于）

提取 `金牌数` 等于 10 的行

In [60]:
df.loc[df['金牌数'] == 10]

   排名 国家奥委会  金牌数  银牌数  铜牌数  总分  按总数排名 国家奥委会代码
6   7    荷兰   10   12   14  36      9     NED
7   8    法国   10   12   11  33     10     FRA
8   9    德国   10   11   16  37      8     GER
9  10   意大利   10   10   20  40      7     ITA

### 32 - <font color = '#1B85FF' >筛选行</font>｜判断（不等于）

提取 `金牌数` 不等于 `10` 的行

In [61]:
df.loc[~(df['金牌数'] == 10)]

    排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
0    1    美国   39   41   33  113      1     USA
1    2    中国   38   32   18   88      2     CHN
2    3    日本   27   14   17   58      5     JPN
3    4    英国   22   21   22   65      4     GBR
4    5   ROC   20   28   23   71      3     ROC
..  ..   ...  ...  ...  ...  ...    ...     ...
88  86    加纳    0    0    1    1     77     GHA
89  86  格林纳达    0    0    1    1     77     GRN
90  86   科威特    0    0    1    1     77     KUW
91  86  摩尔多瓦    0    0    1    1     77     MDA
92  86   叙利亚    0    0    1    1     77     SYR

[89 rows x 8 columns]

### 33 - <font color = '#1B85FF' >筛选行</font>｜条件（指定行号）

提取全部 **奇数行**

In [65]:
df[[i%2==1 for i in range(len(df.index))]]

    排名   国家奥委会  金牌数  银牌数  铜牌数  总分  按总数排名 国家奥委会代码
1    2      中国   38   32   18  88      2     CHN
3    4      英国   22   21   22  65      4     GBR
5    6    澳大利亚   17    7   22  46      6     AUS
7    8      法国   10   12   11  33     10     FRA
9   10     意大利   10   10   20  40      7     ITA
11  12      巴西    7    6    8  21     12     BRA
13  14      古巴    7    3    5  15     18     CUB
15  16      韩国    6    4   10  20     13     KOR
17  18      捷克    4    4    3  11     23     CZE
19  20      挪威    4    2    2   8     29     NOR
21  22     西班牙    3    8    6  17     17     ESP
23  24      瑞士    3    4    6  13     20     SUI
25  26    克罗地亚    3    3    2   8     29     CRO
27  28    塞尔维亚    3    1    5   9     26     SRB
29  30    保加利亚    3    1    2   6     39     BUL
31  32  乌兹别克斯坦    3    0    2   5     42     UZB
33  34    中华台北    2    4    6  12     22     TPE
35  36      希腊    2    1    1   4     47     GRE
37  38    厄瓜多尔    2    1    0   3     60     ECU
39  39     以色列    2    0    2   4     47     ISR
41  42     巴哈马    2    0    0   2     66     BAH
43  44     乌克兰    1    6   12  19     16     UKR
45  46    罗马尼亚    1    3    0   4     47     ROU
47  48      印度    1    2    4   7     33     IND
49  50     菲律宾    1    2    1   4     47     PHI
51  52      南非    1    2    0   3     60     RSA
53  54      埃及    1    1    4   6     39     EGY
55  56   埃塞俄比亚    1    1    2   4     47     ETH
57  58     突尼斯    1    1    0   2     66     TUN
59  59      斐济    1    0    1   2     66     FIJ
61  59      泰国    1    0    1   2     66     THA
63  63     摩洛哥    1    0    0   1     77     MAR
65  66    哥伦比亚    0    4    1   5     42     COL
67  68    多米尼加    0    3    2   5     42     DOM
69  70  吉尔吉斯斯坦    0    2    1   3     60     KGZ
71  72     阿根廷    0    1    2   3     60     ARG
73  74      约旦    0    1    1   2     66     JOR
75  74    尼日利亚    0    1    1   2     66     NGR
77  77   沙特阿拉伯    0    1    0   1     77     KSA
79  77    北马其顿    0    1    0   1     77     MKD
81  77   土库曼斯坦    0    1    0   1     77     TKM
83  84     墨西哥    0    0    4   4     47     MEX
85  86    博茨瓦纳    0    0    1   1     77     BOT
87  86    科特迪瓦    0    0    1   1     77     CIV
89  86    格林纳达    0    0    1   1     77     GRN
91  86    摩尔多瓦    0    0    1   1     77     MDA

### 34 - <font color = '#1B85FF' >筛选行</font>｜条件（指定值）


提取 中国、美国、英国 三行数据

In [66]:
df.loc[df['国家奥委会'].isin(['中国','美国','英国','日本','巴西'])]

    排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
0    1    美国   39   41   33  113      1     USA
1    2    中国   38   32   18   88      2     CHN
2    3    日本   27   14   17   58      5     JPN
3    4    英国   22   21   22   65      4     GBR
11  12    巴西    7    6    8   21     12     BRA

### 35 -  <font color = '#1B85FF' >筛选行</font>｜多条件

在上一题的条件下，新增一个条件：**金牌数小于30**

In [67]:
df.loc[(df['金牌数'] < 30) & (df['国家奥委会'].isin(['中国','美国','英国','日本','巴西']))]

    排名 国家奥委会  金牌数  银牌数  铜牌数  总分  按总数排名 国家奥委会代码
2    3    日本   27   14   17  58      5     JPN
3    4    英国   22   21   22  65      4     GBR
11  12    巴西    7    6    8  21     12     BRA

### 36 - <font color = '#1B85FF' >筛选行</font>｜条件（包含指定值）

提取 国家奥委会 列中，所有包含 `国`的行

In [ ]:
df[df.国家奥委会.str.contains('国')]

### 37 - 筛选某行某列

提取 `第 0 行第 2 列`

In [ ]:
df.iloc[0:1,[1]]

### 38 - 筛选多行多列


提取 第 0-2 行第 0-2 列

In [ ]:
df.iloc[0:2,[0,1]]

### 39 - <font color ='#27BE49'>筛选值</font>｜组合（行号+列号）

提取第 4 行，第 4 列的值

In [ ]:
df.iloc[3,3]

###  40 - <font color ='#27BE49'>筛选值</font>｜组合（行号+列名）

提取行索引为 4 ，列名为 金牌数 的值

In [ ]:
df.at[4,'金牌数']

### 41 - <font color ='#27BE49'>筛选值</font>｜条件

提取 国家奥委会 为 中国 的金牌数

In [68]:
df.loc[df['国家奥委会'] == '中国'].loc[1].at['金牌数']

38

### 42 - <font color ='#27BE49'>筛选值</font>｜query

使用 query 提取 金牌数 + 银牌数 大于 15 的国家

In [69]:
df.query('金牌数+银牌数 > 15')

   排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
0   1    美国   39   41   33  113      1     USA
1   2    中国   38   32   18   88      2     CHN
2   3    日本   27   14   17   58      5     JPN
3   4    英国   22   21   22   65      4     GBR
4   5   ROC   20   28   23   71      3     ROC
5   6  澳大利亚   17    7   22   46      6     AUS
6   7    荷兰   10   12   14   36      9     NED
7   8    法国   10   12   11   33     10     FRA
8   9    德国   10   11   16   37      8     GER
9  10   意大利   10   10   20   40      7     ITA

###  43 - <font color ='#27BE49'>筛选值</font>｜query（引用变量）

使用 query 提取 金牌数 大于 金牌均值的国家

In [70]:
gold_mean = df['金牌数'].mean()
df.query(f'金牌数 > {gold_mean}')

    排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
0    1    美国   39   41   33  113      1     USA
1    2    中国   38   32   18   88      2     CHN
2    3    日本   27   14   17   58      5     JPN
3    4    英国   22   21   22   65      4     GBR
4    5   ROC   20   28   23   71      3     ROC
5    6  澳大利亚   17    7   22   46      6     AUS
6    7    荷兰   10   12   14   36      9     NED
7    8    法国   10   12   11   33     10     FRA
8    9    德国   10   11   16   37      8     GER
9   10   意大利   10   10   20   40      7     ITA
10  11   加拿大    7    6   11   24     11     CAN
11  12    巴西    7    6    8   21     12     BRA
12  13   新西兰    7    6    7   20     13     NZL
13  14    古巴    7    3    5   15     18     CUB
14  15   匈牙利    6    7    7   20     13     HUN
15  16    韩国    6    4   10   20     13     KOR
16  17    波兰    4    5    5   14     19     POL
17  18    捷克    4    4    3   11     23     CZE
18  19   肯尼亚    4    4    2   10     25     KEN
19  20    挪威    4    2    2    8     29     NOR
20  21   牙买加    4    1    4    9     26     JAM