# Pandas补充知识点

## Rank

### 主要代码

In [1]:
import pandas as pd
import numpy as np

In [2]:
a = pd.DataFrame(np.arange(15).reshape(3,5),columns = list("abdce"))
a =a.sort_index(axis=1,ascending=False)

In [3]:
a

    e   d   c   b   a
0   4   2   3   1   0
1   9   7   8   6   5
2  14  12  13  11  10

In [4]:
a.iloc[[1,1],[1,2]] = 6

In [5]:
a

    e   d   c   b   a
0   4   2   3   1   0
1   9   6   6   6   5
2  14  12  13  11  10

In [6]:
# 默认相同数值取平均值(2+3+4)/3,升序排列, 不累加
a.rank(axis=1, method="average")

     e    d    c    b    a
0  5.0  3.0  4.0  2.0  1.0
1  5.0  3.0  3.0  3.0  1.0
2  5.0  3.0  4.0  2.0  1.0

In [7]:
# first, 按照出现顺序进行排序，自动忽视相同数据的处理
a.rank(axis=1, method="first")

     e    d    c    b    a
0  5.0  3.0  4.0  2.0  1.0
1  5.0  2.0  3.0  4.0  1.0
2  5.0  3.0  4.0  2.0  1.0

In [8]:
# 相同数值，排序相同，且顺序累加, method 为dense ： 类似于min，但后续增长的时候每次就增加1，即并列第一名
a.rank(axis=1, method="dense")

     e    d    c    b    a
0  5.0  3.0  4.0  2.0  1.0
1  3.0  2.0  2.0  2.0  1.0
2  5.0  3.0  4.0  2.0  1.0

In [9]:
# 排序
a.rank(axis=1, method="dense", ascending=False)

     e    d    c    b    a
0  1.0  3.0  2.0  4.0  5.0
1  1.0  2.0  2.0  2.0  3.0
2  1.0  3.0  2.0  4.0  5.0

In [10]:
# 取最小，不累加
a.rank(axis=1, method="min")

     e    d    c    b    a
0  5.0  3.0  4.0  2.0  1.0
1  5.0  2.0  2.0  2.0  1.0
2  5.0  3.0  4.0  2.0  1.0

In [11]:
# 取最大，不累加
a.rank(axis=1, method="max")

     e    d    c    b    a
0  5.0  3.0  4.0  2.0  1.0
1  5.0  4.0  4.0  4.0  1.0
2  5.0  3.0  4.0  2.0  1.0

### 其他参数
 
<p><strong>numeric_only</strong> ：Include only float, int, boolean data. Valid only for DataFrame or Panel objects 。boolean, default None</p><p><strong>ascending</strong>：是否为升序，默认为True <br> <strong>na_option</strong>：用于处理NaN值</p> 
<ol><li><strong>‘keep’</strong>：leave NA values where they are</li><li><strong>‘top’</strong>：smallest rank if ascending</li><li><strong>‘bottom’</strong>：smallest rank if dscending</li></ol> 
<p><strong>pct</strong>:名次是否为百分数</p>
                </div>