# 第2章 序列构成的数组

In [3]:
# 容器序列
a = [1]
b = [2]
c = [a, b]
c

[[1], [2]]

In [7]:
id(a), id(c[0]), id(b), id(c)

(140330003994368, 140330003994368, 140330004176192, 140330004106368)

In [9]:
# 列表推导
symbols = "anHSds#4$"
codes = [ord(c) for c in symbols]
codes

[97, 110, 72, 83, 100, 115, 35, 52, 36]

In [11]:
# 笛卡尔积
a = ["1", "2", "3"]
b = ["A", "B", "C"]
combine = [(nums, strs) for nums in a 
           for strs in b]
combine

[('1', 'A'),
 ('1', 'B'),
 ('1', 'C'),
 ('2', 'A'),
 ('2', 'B'),
 ('2', 'C'),
 ('3', 'A'),
 ('3', 'B'),
 ('3', 'C')]

In [12]:
# 生成器表达式
symbols = "anHSds#4$"
codes = tuple(ord(c) for c in symbols)
codes

(97, 110, 72, 83, 100, 115, 35, 52, 36)

In [18]:
# 求整数，取余数
t = divmod(20, 8)
divmod(*t)

(0, 2)

In [25]:
# 拆包
import os
print(os.getcwd())
os.path.split(os.getcwd())

/home/gavin/Python/流畅的Python/02-array-seq

('/home/gavin/Python/流畅的Python', '02-array-seq')

In [33]:
a, b, *c = range(5)
a, b, c

(0, 1, [2, 3, 4])

In [32]:
a, *c, b = range(5)
a, b, c

(0, 4, [1, 2, 3])

In [3]:
# 具名元组
from collections import namedtuple

City = namedtuple("City", "name country poplulation coordinates")
print(City)

<class '__main__.City'>

In [4]:
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', poplulation=36.933, coordinates=(35.689722, 139.691667))

In [5]:
tokyo.name, tokyo.country, tokyo.poplulation

('Tokyo', 'JP', 36.933)

In [6]:
tokyo.name

'Tokyo'

In [8]:
tokyo._asdict()

{'name': 'Tokyo',
 'country': 'JP',
 'poplulation': 36.933,
 'coordinates': (35.689722, 139.691667)}

In [9]:
tokyo._fields

('name', 'country', 'poplulation', 'coordinates')

In [12]:
for a in tokyo:
    print(a)

Tokyo
JP
36.933
(35.689722, 139.691667)

In [13]:
slice()

slice(None, (35.689722, 139.691667), None)

In [24]:
# 切片元素赋值
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
l[2:5] = [20, 30]
l

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [27]:
del l[5]

In [28]:
l

[0, 1, 20, 30, 5, 7, 8, 9]

In [33]:
l[2] = 1
l

[0, 1, 1, 30, 5, 7, 8, 9]

In [37]:
l[2:4] = [10]

In [57]:
l

[0, 1, 10, 5, 7, 8, 9]

In [68]:
my_list = [list(range(5))]
my_list

[[0, 1, 2, 3, 4]]

In [69]:
mm = my_list*5
mm

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [70]:
# 复制为对象的引用
mm[1][1] = 100
mm

[[0, 100, 2, 3, 4],
 [0, 100, 2, 3, 4],
 [0, 100, 2, 3, 4],
 [0, 100, 2, 3, 4],
 [0, 100, 2, 3, 4]]

In [87]:
# 不可变加上可变
t = (1, 2, [10, 20])
t

(1, 2, [10, 20])

In [89]:
t[2] += [100, 200]

TypeError: 'tuple' object does not support item assignment

In [90]:
t

(1, 2, [10, 20, 100, 200])

In [71]:
for i in range(len(mm)):
    print("id:", id(i))

id: 94749325671712
id: 94749325671744
id: 94749325671776
id: 94749325671808
id: 94749325671840

In [85]:
# 排序
# 就地排序
x = [1, 2, 9, 3, 5, 4, 7]
x.sort(reverse=False)
x

[1, 2, 3, 4, 5, 7, 9]

In [84]:
y = sorted(x)
y

[1, 2, 3, 4, 5, 7, 9]