# pandas 进阶修炼 ｜早起Python
<br>

**本习题由公众号【早起Python & 可视化图鉴】 原创，转载及其他形式合作请与我们联系（微信号`sshs321`)，未经授权严禁搬运及二次创作，侵权必究！**



本习题基于 `pandas` 版本 `1.1.3`，所有内容应当在 `Jupyter Notebook` 中执行以获得最佳效果。

不同版本之间写法可能会有少许不同，如若碰到此情况，你应该学会如何自行检索解决。

# 1 - 数据加载与存储

是的，常常被忽略的「<font color=#E36C07>**数据加载与存储**</font>」也大有门道且值得作为本套习题的开门之章。

在一次数据分析的过程中，你可能只会读取或存储一两次数据集。

**但若能灵活掌握各项设置，在读取阶段就将数据筛选、匹配、格式指定等操作完成，有时会为我们节省大量时间。**

在本节习题中，我将 pandas 数据分析中常见的数据读取与存储操作进行整理。

<font color=#E36C07>**既可以用于巩固、学习各种操作，也可以作为速查手册使用**</font>。

## 初始化

<br>

该 `Notebook` 版本为**习题+答案版**


<font color=#E36C07>**请执行下方单元格以初始化读取本节习题的答案**</font>

执行完毕后，你可以使用  <font color=#E36C07> **ans(1)** </font>  来查看第 1 题的参考解答，其余习题类似。

注意：所有答案并非固定（唯一），我提供的答案仅供参考（并非推荐答案或者最优解）

如果发现任何错误或者你有更好的解答，可以微信搜索公众号「早起Python」提交以获得奖励！

In [6]:
import sys
import pandas as pd
# sys.path.append('../document/')
# from inits import initialize,ans

# res = initialize("../document/answer-1.txt")

## 1-1 数据读取

### 1 读取 Excel 文件

<br>

- 读取当前目录下 `某招聘网站数据.csv` 文件

- 读取当前目录下 `TOP250.xlsx` 文件

**注意**：使用 `pandas` 读取 `CSV` 与 读取 `xlsx` 格式的 `Excel` 文件方法大致相同

因此接下来与 `Excel` 相关的操作均以 `CSV` 格式进行出题。

In [7]:
data = pd.read_csv("某招聘网站数据.csv")
data = pd.read_excel("TOP250.xlsx")

### 2 读取 Excel 文件｜指定位置

在大多数情况下，我们会将 `notebook` 和数据源文件放在同一个目录（文件夹下），这样直接使用`pd.read_xxx("文件名")`即可成功读取。
 
但有时需要读取的文件和 `notebook` 不在同一个目录下，这时可以使用绝对路径或者相对本 `notebook` 的路径。

现在请读取本套习题中第二章节下的数据，即 `2 - 个性化显示设置/data.csv`

In [9]:
data = pd.read_csv("../2 - 个性化显示设置/data.csv")

###  3 读取 Excel 文件｜指定行（顺序）
<br>

读取当前目录下 `某招聘网站数据.csv` 文件的 <font color = '#5F5FFC'>前20行</font>

In [18]:
data = pd.read_csv("某招聘网站数据.csv", nrows=20)

###  4 读取 Excel 文件｜指定行（跳过）
<br>

读取当前目录下 `某招聘网站数据.csv` 文件并<font color = '#5F5FFC'>跳过前20行</font>

In [16]:
data = pd.read_csv("某招聘网站数据.csv", skiprows=[i for i in range(1, 21)])

###  5 读取 Excel 文件｜指定行（条件）
<br>

读取当前目录下 `某招聘网站数据.csv` 文件中全部<font color = '#5F5FFC'>偶数行</font>

思考：如果是读取全部奇数行，或者更多满足指定条件的行呢？

In [23]:
data = pd.read_csv('某招聘网站数据.csv', skiprows=lambda x: (x != 0) and not x % 2)

# data = pd.read_csv('某招聘网站数据.csv', skiprows=lambda x: x % 2) 奇数行

![公众号：早起Python](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/18/16319660121648.jpg?域名/sample.jpg?x-oss-process=style/stylename)

### 6 读取 Excel 文件｜指定列（列号）

<br>

**根据指定列号读取**

读取当前目录下 `某招聘网站数据.csv` 文件的第 `1、3、5` 列

In [19]:
data = pd.read_csv("某招聘网站数据.csv", usecols=[0, 2, 4])

###  7 读取 Excel 文件｜指定列（列名）

<br>

**根据指定列名读取**

读取当前目录下 `某招聘网站数据.csv` 文件的 `positionId、positionName、salary` 列

In [22]:
data = pd.read_csv("某招聘网站数据.csv", usecols=[
                   'positionId', 'positionName', 'salary'])

###  8 读取 Excel 文件｜指定列（匹配）

<br>

**根据指定列名匹配读取**

让我们来个更难一点的，还是读取 `某招聘网站数据.csv` 文件，但现在有一个 list 中包含多个字段👇

`usecols = ['positionId','test','positionName', 'test1','salary']`

如果 `usecols` 中的列名存在于 `某招聘网站数据.csv` 中，则读取。

In [38]:
usecols = ['positionId', 'test', 'positionName', 'test1', 'salary']
# lambda 为可迭代的函数
data = pd.read_csv('某招聘网站数据.csv', usecols=lambda c: c in set(usecols))

### 9 读取 Excel 文件｜指定索引

<br>

读取当前目录下 `某招聘网站数据.csv` 文件，并在读取时将 `positionId` 设置为索引列

In [2]:
data = pd.read_csv('某招聘网站数据.csv', index_col=['positionId'])
data.head()

,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,skillLables,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
positionId,,,,,,,,,,,,,,,,,,,,,
6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析,"['SQL', '数据库', '数据运营', 'BI']",...,NaN,0,0,0,NaN,NaN,0,0,[],False
5204912,数据建模,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,"['算法', '数据架构']",...,NaN,0,0,0,NaN,NaN,0,0,[],False
6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",上市公司,"['节日礼物', '年底双薪', '股票期权', '带薪年假']",产品|需求|项目类,数据分析,数据分析,"['数据库', '数据分析', 'SQL']",...,NaN,0,0,0,NaN,NaN,0,0,[],False
6496141,数据分析,26564,500-2000人,电商,D轮及以上,"['生日趴', '每月腐败基金', '每月补贴', '年度旅游']",开发|测试|运维类,数据开发,数据分析,[],...,NaN,0,0,0,NaN,NaN,0,0,[],True
6467417,数据分析,29211,2000人以上,物流丨运输,上市公司,"['技能培训', '免费班车', '专项奖金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,"['BI', '数据分析', '数据运营']",...,NaN,0,0,0,NaN,NaN,0,0,[],True

###  10 读取 Excel 文件｜指定标题

<br>


读取当前目录下 `某招聘网站数据.csv` 文件的 `positionId、positionName、salary` 列，并将标题设置为 `ID、岗位名称、薪资`

In [56]:
# 此处usecols值必须为索引值
data = pd.read_csv('某招聘网站数据.csv', usecols=[
                   0, 1, 17], header=0, names=['ID', '岗位名称', '薪资'])

微信搜索公众号「早起Python」，关注后可以获得更多资源！

###  11 读取 Excel 文件｜缺失值转换

<br>


读取当前目录下 `某招聘网站数据.csv` 文件，**并不将缺失值标记为 `NA`**

思考：为什么要这样做？

In [6]:
data = pd.read_csv('某招聘网站数据.csv', keep_default_na=False)
data

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析,...,,0,0,0,,,0,0,[],False
1,5204912,数据建模,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,...,,0,0,0,,,0,0,[],False
2,6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",上市公司,"['节日礼物', '年底双薪', '股票期权', '带薪年假']",产品|需求|项目类,数据分析,数据分析,...,,0,0,0,,,0,0,[],False
3,6496141,数据分析,26564,500-2000人,电商,D轮及以上,"['生日趴', '每月腐败基金', '每月补贴', '年度旅游']",开发|测试|运维类,数据开发,数据分析,...,,0,0,0,,,0,0,[],True
4,6467417,数据分析,29211,2000人以上,物流丨运输,上市公司,"['技能培训', '免费班车', '专项奖金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,...,,0,0,0,,,0,0,[],True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,6884346,数据分析师,21236,500-2000人,"移动互联网,医疗丨健康",C轮,"['技能培训', '年底双薪', '节日礼物', '绩效奖金']",产品|需求|项目类,数据分析,数据分析,...,,0,0,0,,,0,0,[],False
101,6849100,商业数据分析,72076,500-2000人,"移动互联网,电商",C轮,"['节日礼物', '股票期权', '带薪年假', '年度旅游']",市场|商务类,市场|营销,商业数据分析,...,,0,0,0,,,0,0,[],False
102,6803432,奔驰·耀出行-BI数据分析专家,751158,150-500人,移动互联网,不需要融资,[],开发|测试|运维类,数据开发,数据分析,...,,0,0,0,,,0,0,[],False
103,6704835,BI数据分析师,52840,2000人以上,电商,上市公司,"['技能培训', '年底双薪', '节日礼物', '绩效奖金']",开发|测试|运维类,数据开发,数据分析,...,,0,0,0,,,0,0,[],True
104,6728058,数据分析专家-LQ(J181203029),2474,2000人以上,汽车丨出行,不需要融资,"['弹性工作', '节日礼物', '岗位晋升', '技能培训']",产品|需求|项目类,数据分析,其他数据分析,...,,0,0,0,,,0,0,[],True

###  12 读取 Excel 文件｜缺失值标记

<br>


读取当前目录下 `某招聘网站数据.csv` 文件，**并将`[]`标记为缺失值**

In [71]:
data = pd.read_csv('某招聘网站数据.csv', na_values=['[]'])

### 13 读取 Excel 文件｜忽略缺失值

<br>

读取当前目录下 `某招聘网站数据.csv` 文件，**但不处理缺失值**

思考：和之前的有什么不同，为什么这么做？

In [33]:
data = pd.read_csv("某招聘网站数据.csv", na_filter=False)

### 14 读取 Excel 文件｜指定格式

<br>

读取当前目录下 `某招聘网站数据.csv` 文件，并将 `positionId,companyId` 设置为字符串格式

In [47]:
data = pd.read_csv("某招聘网站数据.csv", dtype={'positionId': str, 'companyId': str})

### 15 读取 Excel 文件｜指定格式（时间）

<br>

读取当前目录下 `某招聘网站数据.csv` 文件，并将 `createTime` 列设置为字符串格式

In [13]:
data = pd.read_csv("某招聘网站数据.csv", parse_dates=['createTime'])
data[["createTime"]]

             createTime
0   2020-03-16 11:00:00
1   2020-03-16 11:08:00
2   2020-03-16 10:33:00
3   2020-03-16 10:10:00
4   2020-03-16 09:56:00
..                  ...
100 2020-03-11 16:45:00
101 2020-03-14 17:38:00
102 2020-03-14 22:39:00
103 2020-03-09 15:00:00
104 2020-03-13 18:24:00

[105 rows x 1 columns]

### 16 读取 Excel 文件｜分块读取


<br>

读取当前目录下 `某招聘网站数据.csv` 文件，要求返回一个可迭代对象，每次读取 10 行

思考：为什么这样做？

减少存储压力

In [80]:
data = pd.read_csv("某招聘网站数据.csv", chunksize=10)

### 17 读取 txt 文件｜常规

<br>

读取当前目录下 `Titanic.txt` 文件。

注意：在接下来的几种格式文件读取中，对于之前重复的参数/功能将不再整理，仅介绍读取功能。

In [83]:
data = pd.read_table("Titanic.txt")

### 18 读取 txt 文件｜含中文<font color=red>(重点)</font>

<br>

读取当前目录下 `TOP250.txt` 文件。

In [79]:
data = pd.read_table("TOP250.txt", encoding='gb18030')

# data = pd.read_csv("TOP250.txt",encoding='gb18030',sep = '\t') # 使用 read_csv 也可

### 19 读取 JSON 文件



<br>

读取当前目录下 `某基金数据.json` 文件。

In [84]:
data = pd.read_json("某基金数据.json")

### 20 读取 HDF5 文件

<br>

`HDF5`是一种特殊的文件格式，常见于在大规模存储数据上

关于 `pandas` 与 `hdf5` 格式文件的操作较多，下面仅学习如何读取。

读取当前目录下`store_tl.h5`文件

In [120]:
data = pd.read_hdf("store_tl.h5", "table")

### 21 从剪贴板读取数据

<br>

打开当前目录下 `Titanic.txt` 文件，全选并复制。

现在直接从剪贴板读取数据。

In [18]:
data = pd.read_clipboard()

### 22 从 SQL 读取数据

<br>

有时我们需要从 `SQL` 中读取数据，如果先将数据导出再`pandas`读取并不是一个合适的选择。

在 `pandas` 中支持直接从 `sql` 中查询并读取。

为了方便统一操作，请先执行下面的代码创建数据。

In [91]:
pd.read_sql('SELECT int_column, date_column FROM test_data', conn)

下面将 `SQL` 语句 `SELECT int_column, date_column FROM test_data` 转换为 `DataFrame`

### 23 从网页读取数据

<br>

直接从东京奥运会官网读取奖牌榜数据。

目标网站地址为 `https://olympics.com/tokyo-2020/olympic-games/zh/results/all-sports/medal-standings.htm`

思考：什么类型的在线表格可以直接读取？

In [ ]:
data = pd.read_html(
    "https://olympics.com/tokyo-2020/olympic-games/zh/results/all-sports/medal-standings.htm")[0]
data

### 24 循环读取数据

<br>

在本小节 `demodata` 文件夹下有多个 `Excel` 文件，要求一次性循环读取全部文件

In [104]:
import os
path = 'demodata/'
filesnames = os.listdir(path)
filesnames = [f for f in filesnames if f.lower().endswith(".xlsx")]
df_list = []
for filename in filesnames:
    df_list.append(pd.read_excel(path + filename))

df = pd.concat(df_list)

## 1-2 数据创建

<br>

除了直接读取本地文件，学会直接创建数据框也很重要，常见于测试一些函数，下面是从常见数据结构创建数据框的方法整理

### 25 从列表创建

<br>

将下面的 `list` 转换为 `dataframe`，并指定列名为`"早起Python"`

In [137]:
l = [1, 2, 3, 4, 5]

In [139]:
data = pd.DataFrame(l, columns=['早起Python'])

### 26 从列表创建｜嵌套列表

<br>

将下面的 `list` 转换为 `dataframe`，并指定行索引为`"公众号","早起Python"`

In [123]:
l = [[1, 2, 3], [4, 5, 6]]

In [125]:
data = pd.DataFrame(l, index=['公众号', '早起Python'])

### 27 从字典创建

执行下方代码，并将字典转换为`dataframe`

In [126]:
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"])}

In [129]:
data = pd.DataFrame(d)

### 28 从字典创建｜指定索引

<br>

还是上一题的字典`d`，将其转换为`dataframe`并指定索引顺序为 `d、b、a`

In [113]:
data = pd.DataFrame(d, index=["d", "b", "a"])

### 29 从字典创建｜指定列名

<br>

还是上一题的字典`d`，将其转换为`dataframe`并指定索引顺序为 `d、b、a`，列名为`"two", "three"`

In [112]:
data = pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "three"])

### 30 从字典创建｜字典列表
<br>

将下方列表型字典转换为`dataframe`

思考：如何指定行/列索引？

In [114]:
d = [{"a": 1, "b": 2}, {"a": 5, "b": 10, "c": 20}]

In [121]:
data = pd.DataFrame(d)

### 31 从集合创建

<br>

将下面的元组转换为 dataframe 且行列索引均为 `1,2,3,4`

In [163]:
t = ((1, 0, 0, 0,), (2, 3, 0, 0,), (4, 5, 6, 0,), (7, 8, 9, 10,))

In [164]:
data = pd.DataFrame(t, columns=[1, 2, 3, 4], index=[1, 2, 3, 4])

## 1-3 数据存储

### 32 保存为 CSV

<br>

将第三题读取到的数据保存为 `csv` 格式至当前目录下（文件名任意）

In [130]:
data = pd.read_csv("某招聘网站数据.csv", nrows=20)

In [131]:
data.to_csv("out.csv", encoding='utf_8_sig')

### 33 保存为 CSV｜指定列

<br>

将第三题读取到的数据保存为 `csv` 格式至当前目录下（文件名任意），且只保留`positionName、salary`两列

In [ ]:
data.to_csv("out.csv", encoding='utf_8_sig',
            columns=['positionName', 'salary'])

### 34 保存为 CSV｜取消索引

<br>

将第三题读取到的数据保存为 `csv` 格式至当前目录下（文件名任意），且取消每一行的索引

In [133]:
data.to_csv("out.csv", encoding='utf_8_sig', index=False)

### 35 保存为 CSV｜标记缺失值

<br>

在上一题的基础上，在保存的同时，将缺失值标记为`'数据缺失'`

In [24]:
data.to_csv("out.csv", encoding='utf_8_sig', index=False, na_rep='数据缺失')

### 36 保存为CSV｜压缩

<br>

将上一题的数据保存至 `zip` 文件，解压后出现 `out.csv`

In [25]:
compression_opts = dict(method='zip',
                        archive_name='out.csv')
data.to_csv('out.zip', index=False,
            compression=compression_opts)

### 37 保存为 Excel 

<br>

将第三题读取到的数据保存为 `xlsx` 格式至当前目录下（文件名任意）

In [189]:
data.to_excel("test.xlsx")

### 38 保存为 JSON

将之前的数据保存为 `json` 格式至当前目录下（文件名任意）

In [194]:
data.to_json("out.json")

### 39 保存为 Markdown

将之前数据转换为 `markdown` 形式表格，这样可以直接复制进 `.md` 文件中使用

In [141]:
data.head().to_markdown(index=None)

"|   positionId | positionName   |   companyId | companySize   | industryField       | financeStage   | companyLabelList                                   | firstType        | secondType   | thirdType   | skillLables                         | positionLables                                      | industryLables                                      | createTime      | formatCreateTime   | district   | businessZones          |   salary | workYear   | jobNature   | education   | positionAdvantage                      | imState   | lastLogin       |   publisherId |   approve | subwayline   | stationname   | linestaion                               |   latitude |   longitude |   hitags |   resumeProcessRate |   resumeProcessDay |   score |   newScore |   matchScore |   matchScoreExplain |   query |   explain |   isSchoolJob |   adWord |   plus |   pcShow |   appShow |   deliver |   gradeDescription |   promotionScoreExplain |   isHotHire |   count | aggregatePositionIds   | famousCompany   |\n|-------------:|:---------------|------------:|:--------------|:--------------------|:---------------|:---------------------------------------------------|:-----------------|:-------------|:------------|:------------------------------------|:----------------------------------------------------|:----------------------------------------------------|:----------------|:-------------------|:-----------|:-----------------------|---------:|:-----------|:------------|:------------|:---------------------------------------|:----------|:----------------|--------------:|----------:|:-------------|:--------------|:-----------------------------------------|-----------:|------------:|---------:|--------------------:|-------------------:|--------:|-----------:|-------------:|--------------------:|--------:|----------:|--------------:|---------:|-------:|---------:|----------:|----------:|-------------------:|------------------------:|------------:|--------:|:-----------------------|:----------------|\n|      6802721 | 数据分析       |      475770 | 50-150人      | 移动互联网,电商     | A轮            | ['绩效奖金', '带薪年假', '定期体检', '弹性工作']   | 产品|需求|项目类 | 数据分析     | 数据分析    | ['SQL', '数据库', '数据运营', 'BI'] | ['电商', '社交', 'SQL', '数据库', '数据运营', 'BI'] | ['电商', '社交', 'SQL', '数据库', '数据运营', 'BI'] | 2020/3/16 11:00 | 11:00发布          | 余杭区     | ['仓前']               |    37500 | 1-3年      | 全职        | 本科        | 五险一金、弹性工作、带薪年假、年度体检 | today     | 2020/3/16 11:00 |      12022406 |         1 | nan          | nan           | nan                                      |    30.2784 |     120.006 |      nan |                  50 |                  1 |     233 |          0 |      15.1019 |                 nan |     nan |       nan |             0 |        0 |    nan |        0 |         0 |         0 |                nan |                     nan |           0 |       0 | []                     | False           |\n|      5204912 | 数据建模       |       50735 | 150-500人     | 电商                | B轮            | ['年终奖金', '做五休二', '六险一金', '子女福利']   | 开发|测试|运维类 | 数据开发     | 建模        | ['算法', '数据架构']                | ['算法', '数据架构']                                | []                                                  | 2020/3/16 11:08 | 11:08发布          | 滨江区     | ['西兴', '长河']       |    15000 | 3-5年      | 全职        | 本科        | 六险一金,定期体检,丰厚年终             | disabled  | 2020/3/16 11:08 |       5491688 |         1 | nan          | nan           | nan                                      |    30.188  |     120.201 |      nan |                  23 |                  1 |     176 |          0 |      32.5594 |                 nan |     nan |       nan |             0 |        0 |    nan |        0 |         0 |         0 |                nan |                     nan |           0 |       0 | []                     | False           |\n|      6877668 | 数据分析       |      100125 | 2000人以上    | 移动互联网,企业服务 | 上市公司       | ['节日礼物', '年底双薪', '股票期权', '带薪年假']   | 产品|需求|项目类 | 数据分析     | 数据分析    | ['数据库', '数据分析', 'SQL']       | ['数据库', 'SQL']                                   | []                                                  | 2020/3/16 10:33 | 10:33发布          | 江干区     | ['四季青', '钱江新城'] |     3500 | 1-3年      | 全职        | 本科        | 五险一金 周末双休 不加班 节日福利      | today     | 2020/3/16 10:33 |       5322583 |         1 | 4号线        | 江锦路        | 4号线_城星路;4号线_市民中心;4号线_江锦路 |    30.2415 |     120.213 |      nan |                  11 |                  4 |      80 |          0 |      14.9724 |                 nan |     nan |       nan |             0 |        0 |    nan |        0 |         0 |         0 |                nan |                     nan |           0 |       0 | []                     | False           |\n|      6496141 | 数据分析       |       26564 | 500-2000人    | 电商                | D轮及以上      | ['生日趴', '每月腐败基金', '每月补贴', '年度旅游'] | 开发|测试|运维类 | 数据开发     | 数据分析    | []                                  | ['电商']                                            | ['电商']                                            | 2020/3/16 10:10 | 10:10发布          | 江干区     | nan                    |    45000 | 3-5年      | 全职        | 本科        | 年终奖等                               | threeDays | 2020/3/16 10:10 |       9814560 |         1 | 1号线        | 文泽路        | 1号线_文泽路                             |    30.2994 |     120.35  |      nan |                 100 |                  1 |      68 |          0 |      12.8742 |                 nan |     nan |       nan |             0 |        0 |    nan |        0 |         0 |         0 |                nan |                     nan |           0 |       0 | []                     | True            |\n|      6467417 | 数据分析       |       29211 | 2000人以上    | 物流丨运输          | 上市公司       | ['技能培训', '免费班车', '专项奖金', '岗位晋升']   | 产品|需求|项目类 | 数据分析     | 数据分析    | ['BI', '数据分析', '数据运营']      | ['BI', '数据运营']                                  | []                                                  | 2020/3/16 9:56  | 09:56发布          | 余杭区     | ['仓前']               |    30000 | 3-5年      | 全职        | 大专        | 五险一金                               | disabled  | 2020/3/16 9:56  |       6392394 |         1 | nan          | nan           | nan                                      |    30.283  |     120.01  |      nan |                  20 |                  1 |      66 |          0 |      12.7554 |                 nan |     nan |       nan |             0 |        0 |    nan |        0 |         0 |         0 |                nan |                     nan |           0 |       0 | []                     | True            |"

### 40 保存为 Html

将之前的数据保存为 `html` 格式至当前目录下（文件名任意），并进行如下设置
- 取消行索引
- 标题居中对齐
- 列宽100

In [205]:
data.to_html("out.html", col_space=100, index=None, justify='center', border=1)