# pandas è¿›é˜¶ä¿®ç‚¼ ï½œæ—©èµ·Python
<br>

**æœ¬ä¹ é¢˜ç”±å…¬ä¼—å·ã€æ—©èµ·Python & å¯è§†åŒ–å›¾é‰´ã€‘ åŸåˆ›ï¼Œè½¬è½½åŠå…¶ä»–å½¢å¼åˆä½œè¯·ä¸æˆ‘ä»¬è”ç³»ï¼ˆå¾®ä¿¡å·`sshs321`)ï¼Œæœªç»æˆæƒä¸¥ç¦æ¬è¿åŠäºŒæ¬¡åˆ›ä½œï¼Œä¾µæƒå¿…ç©¶ï¼**



æœ¬ä¹ é¢˜åŸºäº `pandas` ç‰ˆæœ¬ `1.1.3`ï¼Œæ‰€æœ‰å†…å®¹åº”å½“åœ¨ `Jupyter Notebook` ä¸­æ‰§è¡Œä»¥è·å¾—æœ€ä½³æ•ˆæœã€‚


ä¸åŒç‰ˆæœ¬ä¹‹é—´å†™æ³•å¯èƒ½ä¼šæœ‰å°‘è®¸ä¸åŒï¼Œå¦‚è‹¥ç¢°åˆ°æ­¤æƒ…å†µï¼Œä½ åº”è¯¥å­¦ä¼šå¦‚ä½•è‡ªè¡Œæ£€ç´¢è§£å†³ã€‚

## 7 - æ•°æ®é€è§†ä¸åˆå¹¶



<br>

**<font color = '#5172F0'><font size=3.5>å¿…è¯»ğŸ‘‡ğŸ‘‡ğŸ‘‡**</font>
    
ç°åœ¨è®©æˆ‘ä»¬ç»§ç»­ç»ƒä¹  pandasæ•°æ®åˆ†æå¦ä¸€ç»„å¸¸ç”¨æ“ä½œ --> **æ•°æ®é€è§†ä¸åˆå¹¶**


æœ¬èŠ‚ä¹ é¢˜å°†æ¶‰åŠå››å¤§å‡½æ•°ï¼š
    
- pivot_table
- concat
- merge
- join

éšç€ç»ƒä¹ çš„æ·±å…¥ï¼Œè‹¥æ²¡æœ‰ä¸€å®šçš„åŸºç¡€çŸ¥è¯†å°†å¾ˆéš¾ç»§ç»­åˆ·é¢˜
    
å®˜æ–¹æ–‡æ¡£æ°¸è¿œæ˜¯æœ€å¥½çš„å­¦ä¹ æ‰‹å†Œï¼Œåœ¨æœ¬èŠ‚ä¹‹å‰å¼ºçƒˆå»ºè®®å­¦ä¹ [å®˜æ–¹æ–‡æ¡£å¯¹åº”éƒ¨åˆ†](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging)

## åˆå§‹åŒ–

<br>

è¯¥ `Notebook` ç‰ˆæœ¬ä¸º**ä¹ é¢˜+ç­”æ¡ˆç‰ˆ**


è¯·æ‰§è¡Œä¸‹æ–¹å•å…ƒæ ¼ä»¥åˆå§‹åŒ–è¯»å–æœ¬èŠ‚ä¹ é¢˜çš„ç­”æ¡ˆ

æ‰§è¡Œå®Œæ¯•åï¼Œä½ å¯ä»¥ä½¿ç”¨ `ans(1)` æ¥æŸ¥çœ‹ç¬¬ 1 é¢˜çš„å‚è€ƒè§£ç­”ï¼Œå…¶ä½™ä¹ é¢˜ç±»ä¼¼ã€‚

æ³¨æ„ï¼šæ‰€æœ‰ç­”æ¡ˆå¹¶éå›ºå®šï¼ˆå”¯ä¸€ï¼‰ï¼Œæˆ‘æä¾›çš„ç­”æ¡ˆä»…ä¾›å‚è€ƒï¼ˆå¹¶éæ¨èç­”æ¡ˆæˆ–è€…æœ€ä¼˜è§£ï¼‰

å¦‚æœå‘ç°ä»»ä½•é”™è¯¯æˆ–è€…ä½ æœ‰æ›´å¥½çš„è§£ç­”ï¼Œå¯ä»¥å¾®ä¿¡æœç´¢å…¬ä¼—å·ã€Œæ—©èµ·Pythonã€æäº¤ä»¥è·å¾—å¥–åŠ±ï¼

In [1]:
import sys
# sys.path.append('../document/')
# from inits import initialize, ans
# res = initialize("../document/answer-7.txt")

## æ•°æ®é€è§†è¡¨

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/14/16316101294678.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)

### 1 - åŠ è½½æ•°æ®

è¯»å–å½“å‰ç›®å½•ä¸‹ `"æŸè¶…å¸‚é”€å”®æ•°æ®.csv"` å¹¶è®¾ç½®åƒåˆ†ä½ç¬¦å·ä¸º `,`

In [2]:
import pandas as pd

df = pd.read_csv("æŸè¶…å¸‚é”€å”®æ•°æ®.csv",thousands=',')

In [8]:
df

,è®¢å•ID,è®¢å•æ—¥æœŸ,é‚®å¯„æ–¹å¼,å›½å®¶,åœ°åŒº,çœ/è‡ªæ²»åŒº,ç»†åˆ†,ç±»åˆ«,å­ç±»åˆ«,åˆ¶é€ å•†,äº§å“åç§°,æ•°é‡,é”€å”®é¢,åˆ©æ¶¦
0,A1000001,2013/1/1,äºŒçº§,ä¸­å›½,ä¸­å—,æ¹–å—,å…¬å¸,åŠå…¬ç”¨å“,æ”¶çº³å…·,Rogers,"Rogers æ–‡ä»¶è½¦, å•å®½åº¦",5,3305,1322
1,A1000001,2013/1/1,äºŒçº§,ä¸­å›½,ä¸­å—,æ¹–å—,å…¬å¸,å®¶å…·,æ¡Œå­,Barricks,"Barricks åœ†æ¡Œ, ç™½è‰²",3,5289,-635
2,A1000001,2013/1/1,äºŒçº§,ä¸­å›½,ä¸­å—,æ¹–å—,å…¬å¸,æŠ€æœ¯,ç”µè¯,è¯ºåŸºäºš,"è¯ºåŸºäºš æ™ºèƒ½æ‰‹æœº, æ•´åŒ…",3,1725,69
3,A1000001,2013/1/1,äºŒçº§,ä¸­å›½,ä¸­å—,æ¹–å—,å…¬å¸,æŠ€æœ¯,é…ä»¶,è´å°”é‡‘,"è´å°”é‡‘ è®°å¿†å¡, å®æƒ",3,1607,611
4,A1000003,2013/1/2,äºŒçº§,ä¸­å›½,åä¸œ,ç¦å»º,æ¶ˆè´¹è€…,åŠå…¬ç”¨å“,æ”¶çº³å…·,Rogers,"Rogers ç›’, å·¥ä¸š",4,456,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9930,A1004918,2016/12/30,æ ‡å‡†çº§,ä¸­å›½,ä¸­å—,å¹¿ä¸œ,æ¶ˆè´¹è€…,æŠ€æœ¯,å¤å°æœº,å¤æ™®,"å¤æ™® å¢¨æ°´, çº¢è‰²",1,343,-172
9931,A1004918,2016/12/30,æ ‡å‡†çº§,ä¸­å›½,ä¸­å—,å¹¿ä¸œ,æ¶ˆè´¹è€…,æŠ€æœ¯,ç”µè¯,ä¸‰æ˜Ÿ,"ä¸‰æ˜Ÿ éŸ³é¢‘åŸºåº§, è“è‰²",2,934,-389
9932,A1004924,2016/12/30,æ ‡å‡†çº§,ä¸­å›½,ä¸­å—,å¹¿ä¸œ,å…¬å¸,æŠ€æœ¯,è®¾å¤‡,æ¾ä¸‹,"æ¾ä¸‹ æ”¶æ®æ‰“å°æœº, è€ç”¨",4,1355,-113
9933,A1004924,2016/12/30,æ ‡å‡†çº§,ä¸­å›½,ä¸­å—,å¹¿ä¸œ,å…¬å¸,æŠ€æœ¯,é…ä»¶,Enermax,"Enermax é”®åŒº, å›æ”¶",5,772,-181
9934,A1004919,2016/12/30,æ ‡å‡†çº§,ä¸­å›½,ä¸­å—,æ¹–å—,æ¶ˆè´¹è€…,åŠå…¬ç”¨å“,ä¿¡å°,GlobeWeis,"GlobeWeis æ­æ‰£ä¿¡å°, å›æ”¶",3,122,18

### 2 - æ•°æ®é€è§†ï½œé»˜è®¤

åˆ¶ä½œå„çœã€Œå¹³å‡é”€å”®é¢ã€çš„æ•°æ®é€è§†è¡¨

In [3]:
pd.pivot_table(df,values = ['é”€å”®é¢'],index = 'çœ/è‡ªæ²»åŒº')

# df.groupby("çœ/è‡ªæ²»åŒº")['é”€å”®é¢'].mean() é€šè¿‡ä¸Šä¸€ç« åˆ†ç»„

               é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·     1875.712934
äº‘å—     1863.789030
å†…è’™å¤    1314.826316
åŒ—äº¬     1726.857143
å‰æ—     1701.563567
å››å·     1157.875536
å¤©æ´¥     1611.206667
å®å¤     1651.680000
å®‰å¾½     1477.868251
å±±ä¸œ     1642.659111
å±±è¥¿     1751.359184
å¹¿ä¸œ     1592.185340
å¹¿è¥¿     1675.061135
æ–°ç–†     1402.384615
æ±Ÿè‹     1279.898089
æ±Ÿè¥¿     1966.477876
æ²³åŒ—     1780.275248
æ²³å—     1558.400335
æµ™æ±Ÿ     1347.277778
æµ·å—     1721.982759
æ¹–åŒ—     1324.808442
æ¹–å—     1603.702222
ç”˜è‚ƒ     1602.893443
ç¦å»º     1732.044693
è¥¿è—      201.000000
è´µå·     1425.978723
è¾½å®     1363.381982
é‡åº†     1383.082927
é™•è¥¿     1880.606635
é’æµ·     2978.954545
é»‘é¾™æ±Ÿ    1800.438503

### 3 - æ•°æ®é€è§†ï½œæŒ‡å®šæ–¹æ³•

åˆ¶ä½œå„çœã€Œé”€å”®æ€»é¢ã€çš„æ•°æ®é€è§†è¡¨

In [4]:
pd.pivot_table(df,values = ['é”€å”®é¢'],index = 'çœ/è‡ªæ²»åŒº',aggfunc = sum)

           é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·      594601
äº‘å—      441718
å†…è’™å¤     249817
åŒ—äº¬      350552
å‰æ—      896724
å››å·      269785
å¤©æ´¥      483362
å®å¤       41292
å®‰å¾½      684253
å±±ä¸œ     1884130
å±±è¥¿      429083
å¹¿ä¸œ     1520537
å¹¿è¥¿      383589
æ–°ç–†       72924
æ±Ÿè‹      401888
æ±Ÿè¥¿      222212
æ²³åŒ—      899039
æ²³å—      930365
æµ™æ±Ÿ      266761
æµ·å—       99875
æ¹–åŒ—      408041
æ¹–å—      721666
ç”˜è‚ƒ      195553
ç¦å»º      620072
è¥¿è—         201
è´µå·       67021
è¾½å®      756677
é‡åº†      283532
é™•è¥¿      396808
é’æµ·       65537
é»‘é¾™æ±Ÿ    1346728

In [9]:
pd.pivot_table(df, values=["é”€å”®é¢", "åˆ©æ¶¦"], index="çœ/è‡ªæ²»åŒº")

               åˆ©æ¶¦          é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·     275.192429  1875.712934
äº‘å—     351.059072  1863.789030
å†…è’™å¤   -108.868421  1314.826316
åŒ—äº¬     285.137931  1726.857143
å‰æ—     289.381404  1701.563567
å››å·     -71.309013  1157.875536
å¤©æ´¥     210.360000  1611.206667
å®å¤     -45.960000  1651.680000
å®‰å¾½     287.930886  1477.868251
å±±ä¸œ     270.306888  1642.659111
å±±è¥¿     326.175510  1751.359184
å¹¿ä¸œ     291.718325  1592.185340
å¹¿è¥¿     268.314410  1675.061135
æ–°ç–†     263.384615  1402.384615
æ±Ÿè‹     -20.700637  1279.898089
æ±Ÿè¥¿     240.212389  1966.477876
æ²³åŒ—     303.459406  1780.275248
æ²³å—     282.603015  1558.400335
æµ™æ±Ÿ     -85.979798  1347.277778
æµ·å—     367.206897  1721.982759
æ¹–åŒ—     -74.337662  1324.808442
æ¹–å—     206.542222  1603.702222
ç”˜è‚ƒ    -207.360656  1602.893443
ç¦å»º     373.717877  1732.044693
è¥¿è—       4.000000   201.000000
è´µå·     115.063830  1425.978723
è¾½å®     -44.918919  1363.381982
é‡åº†     193.600000  1383.082927
é™•è¥¿     292.668246  1880.606635
é’æµ·     197.909091  2978.954545
é»‘é¾™æ±Ÿ    305.163102  1800.438503

### 4 - æ•°æ®é€è§†ï½œå¤šæ–¹æ³•

åˆ¶ä½œå„çœã€Œé”€å”®æ€»é¢ã€ä¸ã€Œå¹³å‡é”€å”®é¢ã€çš„æ•°æ®é€è§†è¡¨

In [10]:
pd.pivot_table(df,values = ['é”€å”®é¢'],index = 'çœ/è‡ªæ²»åŒº',aggfunc = ['mean',sum])

              mean      sum
               é”€å”®é¢      é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·     1875.712934   594601
äº‘å—     1863.789030   441718
å†…è’™å¤    1314.826316   249817
åŒ—äº¬     1726.857143   350552
å‰æ—     1701.563567   896724
å››å·     1157.875536   269785
å¤©æ´¥     1611.206667   483362
å®å¤     1651.680000    41292
å®‰å¾½     1477.868251   684253
å±±ä¸œ     1642.659111  1884130
å±±è¥¿     1751.359184   429083
å¹¿ä¸œ     1592.185340  1520537
å¹¿è¥¿     1675.061135   383589
æ–°ç–†     1402.384615    72924
æ±Ÿè‹     1279.898089   401888
æ±Ÿè¥¿     1966.477876   222212
æ²³åŒ—     1780.275248   899039
æ²³å—     1558.400335   930365
æµ™æ±Ÿ     1347.277778   266761
æµ·å—     1721.982759    99875
æ¹–åŒ—     1324.808442   408041
æ¹–å—     1603.702222   721666
ç”˜è‚ƒ     1602.893443   195553
ç¦å»º     1732.044693   620072
è¥¿è—      201.000000      201
è´µå·     1425.978723    67021
è¾½å®     1363.381982   756677
é‡åº†     1383.082927   283532
é™•è¥¿     1880.606635   396808
é’æµ·     2978.954545    65537
é»‘é¾™æ±Ÿ    1800.438503  1346728

### 5 - æ•°æ®é€è§†ï½œå¤šæŒ‡æ ‡

åˆ¶ä½œå„çœå¸‚ã€Œé”€å”®æ€»é¢ã€ä¸ã€Œåˆ©æ¶¦æ€»é¢ã€çš„æ•°æ®é€è§†è¡¨

In [11]:
pd.pivot_table(df,values = ['é”€å”®é¢','åˆ©æ¶¦','æ•°é‡'],index = 'ç±»åˆ«',aggfunc = sum)

          åˆ©æ¶¦     æ•°é‡      é”€å”®é¢
ç±»åˆ«
åŠå…¬ç”¨å“  752124  21389  4844936
å®¶å…·    628052   8434  5696531
æŠ€æœ¯    742264   7613  5442876

### 6 - æ•°æ®é€è§†ï½œå¤šç´¢å¼•

åˆ¶ä½œã€Œå„çœå¸‚ã€ä¸ã€Œä¸åŒç±»åˆ«ã€äº§å“ã€Œé”€å”®æ€»é¢ã€çš„æ•°æ®é€è§†è¡¨

In [12]:
pd.pivot_table(df,values = ['é”€å”®é¢'],index = ['çœ/è‡ªæ²»åŒº','ç±»åˆ«'],aggfunc = sum)

               é”€å”®é¢
çœ/è‡ªæ²»åŒº ç±»åˆ«
ä¸Šæµ·    åŠå…¬ç”¨å“  198529
      å®¶å…·    221058
      æŠ€æœ¯    175014
äº‘å—    åŠå…¬ç”¨å“  123051
      å®¶å…·    174155
...            ...
é’æµ·    å®¶å…·     25923
      æŠ€æœ¯     22896
é»‘é¾™æ±Ÿ   åŠå…¬ç”¨å“  473319
      å®¶å…·    497504
      æŠ€æœ¯    375905

[91 rows x 1 columns]

### 7 - æ•°æ®é€è§†ï½œå¤šå±‚

åˆ¶ä½œå„çœå¸‚ã€Œä¸åŒç±»åˆ«ã€äº§å“çš„ã€Œé”€å”®æ€»é¢ã€é€è§†è¡¨

In [27]:
df.groupby(by=["çœ/è‡ªæ²»åŒº", "ç±»åˆ«"])[["é”€å”®é¢", "åˆ©æ¶¦"]].sum()

               é”€å”®é¢     åˆ©æ¶¦
çœ/è‡ªæ²»åŒº ç±»åˆ«
ä¸Šæµ·    åŠå…¬ç”¨å“  198529  26230
      å®¶å…·    221058  27098
      æŠ€æœ¯    175014  33908
äº‘å—    åŠå…¬ç”¨å“  123051  20852
      å®¶å…·    174155  34573
...            ...    ...
é’æµ·    å®¶å…·     25923   2475
      æŠ€æœ¯     22896   3759
é»‘é¾™æ±Ÿ   åŠå…¬ç”¨å“  473319  72465
      å®¶å…·    497504  88881
      æŠ€æœ¯    375905  66916

[91 rows x 2 columns]

In [24]:
pd.pivot_table(df, values=["é”€å”®é¢", "åˆ©æ¶¦"], index=["çœ/è‡ªæ²»åŒº", "ç±»åˆ«"],aggfunc="sum")

               åˆ©æ¶¦     é”€å”®é¢
çœ/è‡ªæ²»åŒº ç±»åˆ«
ä¸Šæµ·    åŠå…¬ç”¨å“  26230  198529
      å®¶å…·    27098  221058
      æŠ€æœ¯    33908  175014
äº‘å—    åŠå…¬ç”¨å“  20852  123051
      å®¶å…·    34573  174155
...           ...     ...
é’æµ·    å®¶å…·     2475   25923
      æŠ€æœ¯     3759   22896
é»‘é¾™æ±Ÿ   åŠå…¬ç”¨å“  72465  473319
      å®¶å…·    88881  497504
      æŠ€æœ¯    66916  375905

[91 rows x 2 columns]

In [25]:
pd.pivot_table(df,values = ['é”€å”®é¢',"åˆ©æ¶¦"],index = ['çœ/è‡ªæ²»åŒº'], columns='ç±»åˆ«',aggfunc = sum)

             åˆ©æ¶¦                          é”€å”®é¢
ç±»åˆ«         åŠå…¬ç”¨å“        å®¶å…·       æŠ€æœ¯      åŠå…¬ç”¨å“        å®¶å…·        æŠ€æœ¯
çœ/è‡ªæ²»åŒº
ä¸Šæµ·      26230.0   27098.0  33908.0  198529.0  221058.0  175014.0
äº‘å—      20852.0   34573.0  27776.0  123051.0  174155.0  144512.0
å†…è’™å¤      3028.0  -13338.0 -10375.0   74058.0   95426.0   80333.0
åŒ—äº¬      10876.0   28320.0  18687.0  144232.0  127407.0   78913.0
å‰æ—      35550.0   45385.0  71569.0  215143.0  287498.0  394083.0
å››å·      11691.0  -17804.0 -10502.0  111393.0   88297.0   70095.0
å¤©æ´¥      24099.0   10663.0  28346.0  142526.0  149452.0  191384.0
å®å¤       3363.0   -5327.0    815.0   19529.0   16449.0    5314.0
å®‰å¾½      42924.0   29704.0  60684.0  200511.0  215901.0  267841.0
å±±ä¸œ     102032.0  108559.0  99451.0  575520.0  664339.0  644271.0
å±±è¥¿      23237.0   37932.0  18744.0  121458.0  175522.0  132103.0
å¹¿ä¸œ      89310.0  105213.0  84068.0  494643.0  530054.0  495840.0
å¹¿è¥¿      19547.0   16299.0  25598.0  102625.0  165140.0  115824.0
æ–°ç–†       6741.0    4130.0   2825.0   38345.0   20520.0   14059.0
æ±Ÿè‹      17254.0  -22166.0  -1588.0  163919.0  152868.0   85101.0
æ±Ÿè¥¿       5873.0    6179.0  15092.0   37114.0  107047.0   78051.0
æ²³åŒ—      65884.0   33359.0  54004.0  284739.0  306535.0  307765.0
æ²³å—      45945.0   41250.0  81519.0  266916.0  294593.0  368856.0
æµ™æ±Ÿ      -3997.0   -4414.0  -8613.0   84471.0   84436.0   97854.0
æµ·å—       6444.0    7556.0   7298.0   34141.0   41225.0   24509.0
æ¹–åŒ—       5303.0  -11851.0 -16348.0  112230.0  118053.0  177758.0
æ¹–å—      28868.0   22144.0  41932.0  197969.0  241804.0  281893.0
ç”˜è‚ƒ       7896.0  -24261.0  -8933.0   54012.0   68657.0   72884.0
ç¦å»º      26773.0   54076.0  52942.0  142728.0  243289.0  234055.0
è¥¿è—          4.0       NaN      NaN     201.0       NaN       NaN
è´µå·       1733.0    1740.0   1935.0    9713.0   29285.0   28023.0
è¾½å®      21772.0  -15690.0 -31012.0  214994.0  270279.0  271404.0
é‡åº†      14426.0    6704.0  18558.0   71020.0   96318.0  116194.0
é™•è¥¿      17881.0   30663.0  13209.0  119169.0  187497.0   90142.0
é’æµ·      -1880.0    2475.0   3759.0   16718.0   25923.0   22896.0
é»‘é¾™æ±Ÿ     72465.0   88881.0  66916.0  473319.0  497504.0  375905.0

### 8 - æ•°æ®é€è§†ï½œç»¼åˆ

åˆ¶ä½œã€Œå„çœå¸‚ã€ã€ã€Œä¸åŒç±»åˆ«ã€äº§å“ã€Œé”€å”®é‡ä¸é”€å”®é¢ã€çš„ã€Œå‡å€¼ä¸æ€»å’Œã€çš„æ•°æ®é€è§†è¡¨ï¼Œå¹¶åœ¨æœ€åè¿½åŠ ä¸€è¡Œã€åˆè®¡ã€

In [33]:
pd.pivot_table(df,values = ['é”€å”®é¢','æ•°é‡'],index = ['çœ/è‡ªæ²»åŒº','ç±»åˆ«'],aggfunc = ['mean',sum],margins=True)

                mean                 sum
                  æ•°é‡          é”€å”®é¢     æ•°é‡       é”€å”®é¢
çœ/è‡ªæ²»åŒº ç±»åˆ«
ä¸Šæµ·    åŠå…¬ç”¨å“  3.706897  1140.971264    645    198529
      å®¶å…·    4.132530  2663.349398    343    221058
      æŠ€æœ¯    3.616667  2916.900000    217    175014
äº‘å—    åŠå…¬ç”¨å“  3.913043   891.673913    540    123051
      å®¶å…·    4.224490  3554.183673    207    174155
...              ...          ...    ...       ...
é’æµ·    æŠ€æœ¯    3.833333  3816.000000     23     22896
é»‘é¾™æ±Ÿ   åŠå…¬ç”¨å“  3.657471  1088.089655   1591    473319
      å®¶å…·    3.921687  2997.012048    651    497504
      æŠ€æœ¯    3.442177  2557.176871    506    375905
All         3.768093  1608.892099  37436  15984343

[92 rows x 4 columns]

### 9 - æ•°æ®é€è§†ï½œç­›é€‰

åœ¨ä¸Šä¸€é¢˜çš„åŸºç¡€ä¸Šï¼ŒæŸ¥è¯¢ **ã€Œç±»åˆ«ã€** ç­‰äº **ã€ŒåŠå…¬ç”¨å“ã€** çš„è¯¦æƒ…

In [34]:
table = pd.pivot_table(df,values = ['é”€å”®é¢','æ•°é‡'],index = ['çœ/è‡ªæ²»åŒº','ç±»åˆ«'],aggfunc = ['mean',sum],margins=True)
table.query('ç±»åˆ« == ["åŠå…¬ç”¨å“"]')

                mean                sum
                  æ•°é‡          é”€å”®é¢    æ•°é‡     é”€å”®é¢
çœ/è‡ªæ²»åŒº ç±»åˆ«
ä¸Šæµ·    åŠå…¬ç”¨å“  3.706897  1140.971264   645  198529
äº‘å—    åŠå…¬ç”¨å“  3.913043   891.673913   540  123051
å†…è’™å¤   åŠå…¬ç”¨å“  3.391304   643.982609   390   74058
åŒ—äº¬    åŠå…¬ç”¨å“  3.750000  1163.161290   465  144232
å‰æ—    åŠå…¬ç”¨å“  3.520270   726.834459  1042  215143
å››å·    åŠå…¬ç”¨å“  3.947368   837.541353   525  111393
å¤©æ´¥    åŠå…¬ç”¨å“  3.917127   787.436464   709  142526
å®å¤    åŠå…¬ç”¨å“  3.750000  1627.416667    45   19529
å®‰å¾½    åŠå…¬ç”¨å“  3.710526   753.800752   987  200511
å±±ä¸œ    åŠå…¬ç”¨å“  3.775112   862.848576  2518  575520
å±±è¥¿    åŠå…¬ç”¨å“  3.880597   906.402985   520  121458
å¹¿ä¸œ    åŠå…¬ç”¨å“  3.908088   909.270221  2126  494643
å¹¿è¥¿    åŠå…¬ç”¨å“  3.954545   777.462121   522  102625
æ–°ç–†    åŠå…¬ç”¨å“  3.575758  1161.969697   118   38345
æ±Ÿè‹    åŠå…¬ç”¨å“  3.849741   849.321244   743  163919
æ±Ÿè¥¿    åŠå…¬ç”¨å“  3.523077   570.984615   229   37114
æ²³åŒ—    åŠå…¬ç”¨å“  3.968750   988.677083  1143  284739
æ²³å—    åŠå…¬ç”¨å“  3.628242   769.210375  1259  266916
æµ™æ±Ÿ    åŠå…¬ç”¨å“  3.684211   740.973684   420   84471
æµ·å—    åŠå…¬ç”¨å“  3.314286   975.457143   116   34141
æ¹–åŒ—    åŠå…¬ç”¨å“  3.666667   645.000000   638  112230
æ¹–å—    åŠå…¬ç”¨å“  3.629771   755.606870   951  197969
ç”˜è‚ƒ    åŠå…¬ç”¨å“  4.206349   857.333333   265   54012
ç¦å»º    åŠå…¬ç”¨å“  3.801047   747.267016   726  142728
è¥¿è—    åŠå…¬ç”¨å“  3.000000   201.000000     3     201
è´µå·    åŠå…¬ç”¨å“  3.954545   441.500000    87    9713
è¾½å®    åŠå…¬ç”¨å“  3.741722   711.900662  1130  214994
é‡åº†    åŠå…¬ç”¨å“  3.876106   628.495575   438   71020
é™•è¥¿    åŠå…¬ç”¨å“  3.816667   993.075000   458  119169
é’æµ·    åŠå…¬ç”¨å“  4.444444  1857.555556    40   16718
é»‘é¾™æ±Ÿ   åŠå…¬ç”¨å“  3.657471  1088.089655  1591  473319

### 10 -æ•°æ®é€è§†ï½œé€†é€è§†

é€†é€è§†å°±æ˜¯å°†å®½çš„è¡¨è½¬æ¢ä¸ºé•¿çš„è¡¨ï¼Œä¾‹å¦‚å°†ç¬¬ 5 é¢˜çš„é€è§†è¡¨è¿›è¡Œé€†é€è§†ï¼Œå…¶ä¸­ä¸éœ€è¦è½¬æ¢çš„åˆ—ä¸ºã€æ•°é‡ã€åˆ—

In [35]:
table = pd.pivot_table(df,values = ['é”€å”®é¢','åˆ©æ¶¦','æ•°é‡'],index = 'ç±»åˆ«',aggfunc = sum)
table.melt(id_vars=['æ•°é‡'],var_name='åˆ†ç±»',value_name='é‡‘é¢')

      æ•°é‡   åˆ†ç±»       é‡‘é¢
0  21389   åˆ©æ¶¦   752124
1   8434   åˆ©æ¶¦   628052
2   7613   åˆ©æ¶¦   742264
3  21389  é”€å”®é¢  4844936
4   8434  é”€å”®é¢  5696531
5   7613  é”€å”®é¢  5442876

å¾®ä¿¡æœç´¢å…¬ä¼—å·ã€Œæ—©èµ·Pythonã€ï¼Œå…³æ³¨åå¯ä»¥è·å¾—æ›´å¤šèµ„æºï¼`

## æ•°æ®åˆå¹¶

### concat - æ•°æ®æ‹¼æ¥

`concat`ä¸»è¦ç”¨äº**æ•°æ®æ‹¼æ¥**ï¼Œä¹Ÿæ˜¯éå¸¸å¸¸ç”¨çš„ä¸€ä¸ªæ“ä½œ

é™¤äº†å®˜æ–¹æ–‡æ¡£å¤–å¾ˆéš¾æ‰¾åˆ°æ¯”å®˜æ–¹æ–‡æ¡£æ›´å¥½çš„ç»ƒä¹ 

ä»¥ä¸‹æ¡ˆä¾‹æ¥æºæˆ–åŸºäº [ğŸ‘‰å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html) ä¸­çš„æ¡ˆä¾‹ä¿®æ”¹è€Œæ¥

åœ¨ç»ƒä¹ ä¹‹å‰åº”æ‰§è¡Œä¸‹æ–¹ä»£ç ç”Ÿæˆæ•°æ®

å¹¶åº”é¢„è§ˆä¸åŒæ•°æ®çš„ç»“æ„ä»¥åŠæ¯é¢˜çš„å›¾è§£ï¼ˆå¦‚æœæœ‰ï¼‰

In [36]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])


df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])


df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])

In [37]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [38]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [39]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [40]:
df4

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

#### 11 - <font color = '#FB8E00'>concat</font>ï½œé»˜è®¤æ‹¼æ¥

æ‹¼æ¥ df1 å’Œ df2

In [41]:
pd.concat([df1, df2])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

#### 12 - <font color = '#FB8E00'>concat</font>ï½œæ‹¼æ¥å¤šä¸ª

å‚ç›´æ‹¼æ¥ `df1ã€df2ã€df3`ï¼Œæ•ˆæœå¦‚ä¸‹å›¾æ‰€ç¤º

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_basic.png)

In [42]:
pd.concat([df1, df2, df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

#### 13 - <font color = '#FB8E00'>concat</font>ï½œé‡ç½®ç´¢å¼•

å‚ç›´æ‹¼æ¥ df1 å’Œ df4ï¼Œå¹¶æŒ‰é¡ºåºé‡æ–°ç”Ÿæˆç´¢å¼•ï¼Œ

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_ignore_index.png)

In [43]:
pd.concat([df1, df4], ignore_index=True)

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

#### 14 - <font color = '#FB8E00'>concat</font>ï½œæ¨ªå‘æ‹¼æ¥

æ¨ªå‘æ‹¼æ¥ `df1ã€df4`ï¼Œæ•ˆæœå¦‚ä¸‹å›¾æ‰€ç¤º


![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1.png)

In [44]:
pd.concat([df1,df4],axis=1)

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

#### 15 - <font color = '#FB8E00'>concat</font>ï½œæ¨ªå‘æ‹¼æ¥ï¼ˆå–äº¤é›†ï¼‰

åœ¨ä¸Šä¸€é¢˜çš„åŸºç¡€ä¸Šï¼Œåªå–ç»“æœçš„äº¤é›†

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1_inner.png)

In [45]:
# é»˜è®¤è¿æ¥æ–¹å¼ä¸ºå¤–é“¾æ¥(å¹¶é›†),
# å†…è¿æ¥å„éƒ¨åˆ†å–äº¤é›†
pd.concat([df1,df4],axis=1,join='inner')

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

#### 16 - <font color = '#FB8E00'>concat</font>ï½œæ¨ªå‘æ‹¼æ¥ï¼ˆå–æŒ‡å®šï¼‰

åœ¨ 14 é¢˜åŸºç¡€ä¸Šï¼Œåªå–åŒ…å« df1 ç´¢å¼•çš„éƒ¨åˆ†

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1_join_axes.png)

In [46]:
pd.concat([df1, df4], axis=1).reindex(df1.index)

    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

![å…¬ä¼—å·ï¼šæ—©èµ·Python](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/18/16319660121648.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)

#### 17 - <font color = '#FB8E00'>concat</font>ï½œæ–°å¢ç´¢å¼•

æ‹¼æ¥ `df1ã€df2ã€df3`ï¼ŒåŒæ—¶æ–°å¢ä¸€ä¸ªç´¢å¼•ï¼ˆ`xã€yã€z`ï¼‰æ¥åŒºåˆ†ä¸åŒçš„è¡¨æ•°æ®æ¥æº

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_keys.png)

In [47]:
pd.concat([df1, df2, df3], keys=['x', 'y', 'z'])

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

### merge - æ•°æ®è¿æ¥

concatæ˜¯æ‹¼æ¥ï¼Œmergeåˆ™æ˜¯è¿æ¥ï¼ŒåŒæ ·é‡è¦çš„ä¸€ä¸ªæ“ä½œ

åŒæ ·å¾ˆéš¾æ‰¾åˆ°æ¯”å®˜æ–¹æ–‡æ¡£æ›´å¥½çš„ç»ƒä¹ ï¼Œä»¥ä¸‹æ¡ˆä¾‹æ¥æºæˆ–åŸºäº [ğŸ‘‰å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging) ä¸­çš„æ¡ˆä¾‹ä¿®æ”¹è€Œæ¥

åœ¨ç»ƒä¹ ä¹‹å‰åº”æ‰§è¡Œæ¯é¢˜ä¸‹æ–¹çš„ä»£ç ç”Ÿæˆæ•°æ®

å¹¶åº”é¢„è§ˆä¸åŒæ•°æ®çš„ç»“æ„ä»¥åŠæ¯é¢˜çš„å›¾è§£ï¼ˆå¦‚æœæœ‰ï¼‰

#### 18 - <font color = '#1B85FF' >merge</font>ï½œæŒ‰å•é”®

æ ¹æ® `key` è¿æ¥ `left` å’Œ `right`

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key.png)

In [64]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [65]:
pd.merge(left, right, on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

#### 19 - <font color = '#1B85FF' >merge</font>ï½œæŒ‰å¤šé”®

æ ¹æ® `key1` å’Œ `key2` è¿æ¥ `left` å’Œ `right`

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_multiple.png)

In [66]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})


right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [67]:
pd.merge(left,right, on=["key1", "key2"])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

#### 20 - <font color = '#1B85FF' >merge</font>ï½œå·¦å¤–è¿æ¥


å¦‚ä¸‹å›¾æ‰€ç¤ºçš„ç»“æœè¿æ¥ left å’Œ rightï¼Œä¿ç•™å·¦è¡¨å…¨éƒ¨é”®
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_left.png)

In [68]:
pd.merge(left, right, how='left', on=['key1', 'key2'])

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

#### 21 - <font color = '#1B85FF' >merge</font>ï½œå³å¤–è¿æ¥


å¦‚ä¸‹å›¾æ‰€ç¤ºçš„ç»“æœè¿æ¥ left å’Œ rightï¼Œä¿ç•™å³è¡¨å…¨éƒ¨é”®
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_right.png)

In [69]:
pd.merge(left, right, how='right', on=['key1', 'key2'])

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

#### 22 - <font color = '#1B85FF' >merge</font>ï½œå…¨å¤–è¿æ¥


å¦‚ä¸‹å›¾æ‰€ç¤ºçš„ç»“æœè¿æ¥ left å’Œ rightï¼Œä¿ç•™å…¨éƒ¨é”®
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_outer.png)

In [70]:
# ç¬›å¡å°”ç§¯
pd.merge(left, right, how='outer', on=['key1', 'key2'])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

#### 23 - <font color = '#1B85FF' >merge</font>ï½œå†…è¿æ¥


å¦‚ä¸‹å›¾æ‰€ç¤ºçš„ç»“æœè¿æ¥ left å’Œ rightï¼Œä¿ç•™äº¤é›†
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_inner.png)

In [74]:
pd.merge(left, right, how='inner', on=['key1', 'key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

#### 24 - <font color = '#1B85FF' >merge</font>ï½œé‡å¤ç´¢å¼•


é‡æ–°äº§ç”Ÿæ•°æ®å¹¶æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_overlapped_suffix.png)

In [75]:
# åˆå¹¶è¿‡ç¨‹ä¸­å­˜åœ¨å·¦å³ä¸¤è¾¹å­˜åœ¨ç›¸åŒçš„ç´¢å¼•å€¼ï¼Œéœ€è¦è¿›è¡ŒåŒºåˆ†ï¼Œå¯ä»¥è®¾ç½®suffixeså‚æ•°è¿›è¡ŒåŒºåˆ†
left = pd.DataFrame({'k': ['K0', 'K1', 'K2'], 'v': [1, 2, 3]})

right = pd.DataFrame({'k': ['K0', 'K0', 'K3'], 'v': [4, 5, 6]})

left, right

(    k  v
 0  K0  1
 1  K1  2
 2  K2  3,
     k  v
 0  K0  4
 1  K0  5
 2  K3  6)

In [76]:
pd.merge(left, right, on='k', suffixes=['_l', '_r'])

    k  v_l  v_r
0  K0    1    4
1  K0    1    5

### join - ç»„åˆ

æœ€åä¸€ä¸ªæ•°æ®åˆå¹¶çš„å¸¸ç”¨ä¸”é‡è¦çš„æ“ä½œæ˜¯`join`

åŒæ ·å¾ˆéš¾æ‰¾åˆ°æ¯”å®˜æ–¹æ–‡æ¡£æ›´å¥½çš„ç»ƒä¹ ï¼Œä»¥ä¸‹æ¡ˆä¾‹æ¥æºæˆ–åŸºäº [ğŸ‘‰å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging) ä¸­çš„æ¡ˆä¾‹ä¿®æ”¹è€Œæ¥

åœ¨ç»ƒä¹ ä¹‹å‰åº”æ‰§è¡Œæ¯é¢˜ä¸‹æ–¹çš„ä»£ç ç”Ÿæˆæ•°æ®

å¹¶åº”é¢„è§ˆä¸åŒæ•°æ®çš„ç»“æ„ä»¥åŠæ¯é¢˜çš„å›¾è§£ï¼ˆå¦‚æœæœ‰ï¼‰

In [79]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                     index=['K0', 'K1', 'K2'])


right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

#### 25 -  <font color ='#27BE49'>join</font>ï½œå·¦å¯¹é½

åˆå¹¶ left å’Œ rightï¼Œå¹¶æŒ‰ç…§ left çš„ç´¢å¼•è¿›è¡Œå¯¹é½

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join.png)

In [80]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

#### 26 - <font color ='#27BE49'>join</font>ï½œå·¦å¯¹é½ï¼ˆå¤–è¿æ¥ï¼‰

æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥

æ€è€ƒï¼šmerge åšæ³•

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_outer.png)

In [81]:
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

#### 27 - <font color ='#27BE49'>join</font>ï½œå·¦å¯¹é½ï¼ˆå†…è¿æ¥ï¼‰

æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_inner.png)

In [82]:
left.join(right, how='inner')

#pd.merge(left, right, left_index=True, right_index=True, how='inner')

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2

#### 28 - <font color ='#27BE49'>join</font>ï½œæŒ‰ç´¢å¼•

é‡æ–°äº§ç”Ÿæ•°æ®å¹¶æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥ï¼ˆæ ¹æ® `key`ï¼‰

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_key_columns.png)

In [83]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K1', 'K0', 'K1']})


right = pd.DataFrame({'C': ['C0', 'C1'],
                      'D': ['D0', 'D1']},
                      index=['K0', 'K1'])

In [84]:
left.join(right, on='key')

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

#### 29 - <font color ='#27BE49'>join</font>ï½œæŒ‰ç´¢å¼•ï¼ˆå¤šä¸ªï¼‰

é‡æ–°äº§ç”Ÿæ•°æ®å¹¶æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥ï¼ˆæ ¹æ® `key1` å’Œ `key2`ï¼‰

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_multikeys.png)

In [85]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1']})


index = pd.MultiIndex.from_tuples([('K0', 'K0'), ('K1', 'K0'),
                                  ('K2', 'K0'), ('K2', 'K1')])


right = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
                   'D': ['D0', 'D1', 'D2', 'D3']},
                  index=index)

In [86]:
left.join(right, on=['key1', 'key2'])

    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A3  B3   K2   K1   C3   D3

## å’Œjoinæ–¹æ³•ç±»ä¼¼ã€‚ä½†ä¸ä¸€æ ·:ä¸»è¦åŒºåˆ«åœ¨å…³è”æ–¹æ³•ä¸Šï¼š

joinæ–¹æ³•
- é»˜è®¤ä½¿ç”¨index-on-indexï¼Œ
- å¦‚æœæœ‰onå‚æ•°ï¼Œåˆ™ç”¨onå‚æ•°æŒ‡å®šçš„åˆ—å/indexåæ¥è¿æ¥otherçš„indexã€‚  

mergeæ–¹æ³•  
- é»˜è®¤ï¼Œè‡ªåŠ¨æŠŠ2ä¸ªè¡¨ä¸­æœ‰ç›¸åŒåˆ—åçš„åˆ—ï¼ˆé‡å åˆ—ï¼‰ä½œä¸ºä¸»é”®åˆ—ã€‚
- æœ€å¥½æ˜¯æ˜ç¡®æŒ‡å®šonå‚æ•°ï¼Œæ­¤æ—¶åˆ—å/index nameå¿…é¡»åŒæ—¶åœ¨2ä¸ªè¡¨å†…å‡ºç°ã€‚
- æˆ–è€…ä½¿ç”¨left_onå’Œright_onå‚æ•°ä½œä¸ºè¿æ¥çš„keyã€‚æ˜ç¡®æŒ‡å®š2ä¸ªè¡¨è¦å…³è”çš„åˆ—å/index name

- æˆ–è€…ä½¿ç”¨left_indexå’Œright_indexå‚æ•°