# pandas è¿›é˜¶ä¿®ç‚¼ ï½œæ—©èµ·Python
<br>

**æœ¬ä¹ é¢˜ç”±å…¬ä¼—å·ã€æ—©èµ·Python & å¯è§†åŒ–å›¾é‰´ã€‘ åŸåˆ›ï¼Œè½¬è½½åŠå…¶ä»–å½¢å¼åˆä½œè¯·ä¸æˆ‘ä»¬è”ç³»ï¼ˆå¾®ä¿¡å·`sshs321`)ï¼Œæœªç»æˆæƒä¸¥ç¦æ¬è¿åŠäºŒæ¬¡åˆ›ä½œï¼Œä¾µæƒå¿…ç©¶ï¼**



æœ¬ä¹ é¢˜åŸºäº `pandas` ç‰ˆæœ¬ `1.1.3`ï¼Œæ‰€æœ‰å†…å®¹åº”å½“åœ¨ `Jupyter Notebook` ä¸­æ‰§è¡Œä»¥è·å¾—æœ€ä½³æ•ˆæœã€‚


ä¸åŒç‰ˆæœ¬ä¹‹é—´å†™æ³•å¯èƒ½ä¼šæœ‰å°‘è®¸ä¸åŒï¼Œå¦‚è‹¥ç¢°åˆ°æ­¤æƒ…å†µï¼Œä½ åº”è¯¥å­¦ä¼šå¦‚ä½•è‡ªè¡Œæ£€ç´¢è§£å†³ã€‚

## 9 - æ›´å¤šæœªæåŠçš„æ“ä½œ



<br>


**<font color = '#5172F0'><font size=3.5>å¿…è¯»ğŸ‘‡ğŸ‘‡ğŸ‘‡</font>**

## åˆå§‹åŒ–

<br>

è¯¥ `Notebook` ç‰ˆæœ¬ä¸º**ä¹ é¢˜+ç­”æ¡ˆç‰ˆ**


è¯·æ‰§è¡Œä¸‹æ–¹å•å…ƒæ ¼ä»¥åˆå§‹åŒ–è¯»å–æœ¬èŠ‚ä¹ é¢˜çš„ç­”æ¡ˆ

æ‰§è¡Œå®Œæ¯•åï¼Œä½ å¯ä»¥ä½¿ç”¨ `ans(1)` æ¥æŸ¥çœ‹ç¬¬ 1 é¢˜çš„å‚è€ƒè§£ç­”ï¼Œå…¶ä½™ä¹ é¢˜ç±»ä¼¼ã€‚

æ³¨æ„ï¼šæ‰€æœ‰ç­”æ¡ˆå¹¶éå›ºå®šï¼ˆå”¯ä¸€ï¼‰ï¼Œæˆ‘æä¾›çš„ç­”æ¡ˆä»…ä¾›å‚è€ƒï¼ˆå¹¶éæ¨èç­”æ¡ˆæˆ–è€…æœ€ä¼˜è§£ï¼‰

å¦‚æœå‘ç°ä»»ä½•é”™è¯¯æˆ–è€…ä½ æœ‰æ›´å¥½çš„è§£ç­”ï¼Œå¯ä»¥å¾®ä¿¡æœç´¢å…¬ä¼—å·ã€Œæ—©èµ·Pythonã€æäº¤ä»¥è·å¾—å¥–åŠ±ï¼

In [72]:
import sys
# sys.path.append('../document/')
# from init import initialize, ans
# res = initialize("../document/answer-9.txt")

## 9-1 `map` ä¸ `applymap`

<br>

`pandas` ä¸­çš„ `map` å’Œ `applymap` å¯ä»¥å¯¹æŒ‡å®šåˆ—ï¼ˆmapï¼‰æˆ–æ•´ä¸ªæ•°æ®æ¡†ï¼ˆapplymapï¼‰å·¥ä½œ

å®Œæˆæ›¿æ¢ã€æ ¼å¼åŒ–ã€è®¡ç®—ç­‰æ“ä½œï¼Œæ˜¯ `Pandas` æ•°æ®åˆ†æä¸­ååˆ†é‡è¦çš„å·¥å…·ã€‚

ä¸ºäº†æ–¹ä¾¿ç†è§£ï¼Œé¦–å…ˆæ‰§è¡Œä¸‹æ–¹ä»£ç åˆ›å»ºå¹¶æŸ¥çœ‹æ•°æ®

In [81]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({'A': ['A0', 'A1', np.nan, 'A3'],
                    'B': ['B0',np.nan,'B3',np.nan],
                    'C': ['C0','C1','C2',np.nan],
                    'D': np.random.randn(4),
                    'E': np.random.randn(4),
                   'F': np.random.randn(4)},
                   index=[0, 1, 2, 3])

### 1 - mapï½œåŸºæœ¬ä½¿ç”¨

å°† `df1` ç¬¬ä¸€åˆ—ä¸­çš„ `A0` æ›¿æ¢ä¸º `cat`ï¼Œ`A3` æ›¿æ¢ä¸º `rabbit`ï¼Œå…¶ä½™ä¸ºè®¾ç½®ä¸º`NaN`ï¼ˆç¼ºå¤±å€¼ï¼‰

In [82]:
df1['A'] = df1['A'].map({'A0':'cat','A3':'rabbit'})

### 2 - mapï½œåŒ¿åå‡½æ•°

åœ¨ä¸Šä¸€é¢˜çš„ç»“æœä¸Šï¼Œå°† df1 ç¬¬ 1 åˆ—ä¸­çš„å­—ç¬¦æœ«å°¾è¿½åŠ ã€Œä»Šå¤©å…³æ³¨äº†æ—©èµ·Pythonã€

In [83]:
df1['A'] = df1['A'].map(lambda x:f'{x} ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python')

### 3 - mapï½œè·³è¿‡ç¼ºå¤±å€¼

ä¸Šä¸€é¢˜ä¸­ï¼Œnanï¼ˆç¼ºå¤±å€¼ï¼‰ä¹Ÿè¢«åŒæ­¥è¿½åŠ äº†å­—ç¬¦ä¸²

ç°åœ¨é‡æ–°å¯¹ç¬¬äºŒåˆ—æ‰§è¡ŒåŒæ ·çš„æ“ä½œï¼Œå¹¶è·³è¿‡ç¼ºå¤±å€¼

In [84]:
df1['B'] = df1['B'].map(lambda x:f'{x} ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python', na_action='ignore')

### 4 - mapï½œè‡ªå®šä¹‰å‡½æ•°

é™¤äº† lambda ï¼Œmapè¿˜å¯ä»¥æ¥å—è‡ªå®šä¹‰å‡½æ•°ï¼Œç°åœ¨å¯¹ç¬¬ä¸‰åˆ—ï¼Œä½¿ç”¨è‡ªå®šä¹‰å‡½æ•°å®Œæˆä¸Šä¸€é¢˜çš„ä»»åŠ¡

In [85]:
def mapfun(x):
    
    return str(x) + "ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python"

In [86]:
df1['C'] = df1['C'].map(mapfun, na_action='ignore')

### 5 - applymapï½œlambda

`applymap`å¯ä»¥å¯¹æ•´ä¸ª `dataframe` å·¥ä½œï¼Œç°åœ¨å°† df1 çš„æœ€åä¸‰åˆ—ä¿ç•™ä¸¤ä½å°æ•°

In [91]:
df1[['F','D','E']] = df1[['F','D','E']].applymap(lambda x:"%.2f" % x)

## 9-2  `stack` ä¸ `unstack`

### 6 - stackï½œæ•°æ®å †å 

<br>

stackå­—é¢æ„æ€æ˜¯æ•°æ®å †å ï¼Œä½†æ˜¯ç†è§£èµ·æ¥å°±æ˜¯å°†æ•°æ®ç”±å®½å˜é•¿

æ€æ ·åšåˆ°ï¼Ÿ

é€šè¿‡**å°†éƒ¨åˆ†åˆ—åæ‹¿ä¸‹æ¥å½“ä½œç´¢å¼•**æ¥å®ç°ï¼Œä¾‹å¦‚ä¸‹å›¾æ‰€ç¤º

æœ¬æ¥åº”æ˜¯`2åˆ—4è¡Œ`ï¼Œä½†é€šè¿‡ `stack` å¯ä»¥å°†åˆ—Aæ‹¿ä¸‹æ¥å½“ä½œç´¢å¼•ï¼Œä»è€Œå˜æˆ`1åˆ—8è¡Œ`

![](https://pandas.pydata.org/docs/_images/reshaping_stack.png)

ä¸ºäº†å¤ç°ä¸Šé¢çš„ä¾‹å­ï¼Œé¦–å…ˆéœ€è¦æ‰§è¡Œä¸‹æ–¹ä»£ç æ¥ç”Ÿæˆæ•°æ®

In [92]:
tuples = list(
    zip(
        *[
            ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
            ["one", "two", "one", "two", "one", "two", "one", "two"],
        ]
    )
)
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])
df = pd.DataFrame(np.arange(1,17).reshape([8,2]), index=index, columns=["A", "B"])
df2 = df[:4]

ç°åœ¨ï¼ŒæŒ‰ä¸Šå›¾æ‰€ç¤ºï¼Œå¯¹ df2 è¿›è¡Œå †å

In [95]:
stacked = df2.stack()

### 7 - unstackï½œé€†å †å 

å¯¹ä¸Šä¸€é¢˜çš„ç»“æœè¿›è¡Œè¿˜åŸï¼Œå³é€†å †å ï¼Œè¿‡ç¨‹å¦‚ä¸‹å›¾æ‰€ç¤º

![](https://pandas.pydata.org/docs/_images/reshaping_unstack.png)

In [99]:
stacked.unstack()

              A  B
first second
bar   one     1  2
      two     3  4
baz   one     5  6
      two     7  8

### 8 - unstackï½œå±‚çº§

åœ¨ä½¿ç”¨ unstack è¿›è¡Œé€†å †å æ—¶ï¼Œå¯ä»¥æŒ‡å®šå±‚çº§ï¼Œä¾‹å¦‚æŒ‡å®šæŒ‰ç…§ second è¿›è¡Œï¼Œä¹Ÿå°±æ˜¯å¦‚ä¸‹å›¾æ‰€ç¤º

![](https://pandas.pydata.org/docs/_images/reshaping_unstack_1.png)

In [100]:
stacked.unstack('second')

second   one  two
first
bar   A    1    3
      B    2    4
baz   A    5    7
      B    6    8

## 9-3 `isin` ç­›é€‰

åœ¨ `pandas` ä¸­æœ‰æ²¡æœ‰ç±»ä¼¼ `SQL` ä¸­ `IN` å’Œ `NOTIN` çš„ç­›é€‰æ–¹æ³•ï¼Ÿ

`isin`å°±å¯ä»¥å®ç°ï¼Œé€šè¿‡ isin å¯ä»¥å¿«é€Ÿç­›é€‰å‡ºåŒ…å«æŸä¸ªå€¼çš„ç»“æœ

ä¸ºäº†æ–¹ä¾¿ç»ƒä¹ ï¼Œé¦–å…ˆéœ€è¦æ‰§è¡Œä¸‹é¢çš„ä»£ç ç”Ÿæˆç¤ºä¾‹æ•°æ®ï¼Œå¹¶åº”ç®€å•æŸ¥çœ‹ä¸€ä¸‹

In [103]:
df3 = pd.DataFrame({'country': ['China','US', 'UK', 'Germany', 'Japan'],
             'rank':[1,2,3,4,5]})

### 9 - isinï½œæ ¹æ®åˆ—è¡¨ç­›é€‰

ç­›é€‰å‡º `country` åŒ…å« `'China','UK'` çš„è¡Œ

In [105]:
df3[df3.country.isin(['China','UK'])]

  country  rank
0   China     1
2      UK     3

### 10 - isinï½œé€†ç­›é€‰

å¯¹ä¸Šä¸€é¢˜çš„ç»“æœå–é€†

In [ ]:
df3[~df3.country.isin(['China','UK'])]

   country  rank
1       US     2
3  Germany     4
4    Japan     5

## 9-4  `select_dtypes` ç­›é€‰

<br>

`select_dtypes`  å¯ä»¥ç­›é€‰åˆ¶å®šæ•°æ®ç±»å‹çš„åˆ—

ä¸ºäº†æ–¹ä¾¿ç»ƒä¹ ï¼Œé¦–å…ˆéœ€è¦æ‰§è¡Œä¸‹é¢çš„ä»£ç ç”Ÿæˆç¤ºä¾‹æ•°æ®ï¼Œå¹¶åº”ç®€å•æŸ¥çœ‹ä¸€ä¸‹

In [ ]:
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.select_dtypes.html

In [107]:
df4 = pd.DataFrame({'a': [1, 2] * 3,
                   'b': [True, False] * 3,
                   'c': [1.0, 2.0] * 3})

### 11 - select_dtypesï½œå•ç±»å‹

ç­›é€‰ df4 æ•°æ®ç±»å‹ä¸ºæ•´æ•°çš„åˆ—

In [108]:
df4.select_dtypes(include=['int64'])

   a
0  1
1  2
2  1
3  2
4  1
5  2

### 12 - select_dtypesï½œå¤šç±»å‹

ç­›é€‰ df4 æ•°æ®ç±»å‹ä¸ºå’Œæµ®ç‚¹æ•°çš„åˆ—

In [109]:
df4.select_dtypes(include=['int','float64'])

   a    c
0  1  1.0
1  2  2.0
2  1  1.0
3  2  2.0
4  1  1.0
5  2  2.0

### 13 - select_dtypesï½œæ’é™¤

ç­›é€‰ df4 æ•°æ®ç±»å‹ä¸ºå¸ƒå°”å€¼çš„åˆ—

In [110]:
df4.select_dtypes(exclude=['int','float64'])

       b
0   True
1  False
2   True
3  False
4   True
5  False

##  9-5 `explode` æ•°æ®å±•å¼€

<br>

æœ‰æ—¶æˆ‘ä»¬çš„æ•°æ®ä¸­ä¼šåŒ…å«åˆ—è¡¨ï¼Œæ­¤æ—¶ä¾¿å¯ä½¿ç”¨  `explode` è¿›è¡Œå±•å¼€ï¼Œå°†ä¸€ä¸ªlistæ‹†æˆå¤šè¡Œ

ä¸ºäº†æ–¹ä¾¿ç»ƒä¹ ï¼Œé¦–å…ˆéœ€è¦æ‰§è¡Œä¸‹é¢çš„ä»£ç ç”Ÿæˆç¤ºä¾‹æ•°æ®ï¼Œå¹¶åº”ç®€å•æŸ¥çœ‹ä¸€ä¸‹

In [111]:
df5 = pd.DataFrame({'A': [[0, 1, 2], 'foo', [], [3, 4]],
                   'B': 1,
                   'C': [['a', 'b', 'c'], np.nan, [], ['d', 'e']]})

In [112]:
df5

           A  B          C
0  [0, 1, 2]  1  [a, b, c]
1        foo  1        NaN
2         []  1         []
3     [3, 4]  1     [d, e]

### 14 - explodeï½œå•åˆ—

å°† df5 ç¬¬ A åˆ—è¿›è¡Œå±•å¼€

In [114]:
df5.explode('A')

     A  B          C
0    0  1  [a, b, c]
0    1  1  [a, b, c]
0    2  1  [a, b, c]
1  foo  1        NaN
2  NaN  1         []
3    3  1     [d, e]
3    4  1     [d, e]

### 15 - explodeï½œå¤šåˆ—

å°† df5 ç¬¬ Aã€C åˆ—è¿›è¡Œå±•å¼€

In [116]:
# df5.explode(list('AC')) # pandasç‰ˆæœ¬ >= 1.3 æ‰å¯ä»¥å®Œæˆ

## 9-6 `nunique` ç»Ÿè®¡

<br>

`nunique` å¯ä»¥ç»Ÿè®¡æŒ‡å®šè½´ä¸Šä¸å”¯ä¸€çš„å…ƒç´ æ•°é‡

[ğŸ‘‰å¯¹åº”å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nunique.html)

ä¸ºäº†æ–¹ä¾¿ç»ƒä¹ ï¼Œé¦–å…ˆéœ€è¦æ‰§è¡Œä¸‹é¢çš„ä»£ç ç”Ÿæˆç¤ºä¾‹æ•°æ®ï¼Œå¹¶åº”ç®€å•æŸ¥çœ‹ä¸€ä¸‹

In [117]:
df6 = pd.DataFrame({'A': [4, 5, 6], 'B': [4, 1, 1]})

### 16 - nuniqueï½œæŒ‰åˆ—

In [118]:
df6.nunique()

A    3
B    2
dtype: int64

### 17 - nuniqueï½œæŒ‰è¡Œ

In [119]:
df6.nunique(axis=1)

0    1
1    2
2    2
dtype: int64

## 9-7  `cumsum` è®¡ç®—

cumsum å¯ä»¥å¯¹æ•°æ®æŒ‰ç…§æŒ‡å®šæ–¹å¼è¿›è¡Œç´¯åŠ 

[ğŸ‘‰å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cumsum.html)

ä¸ºäº†æ–¹ä¾¿ç»ƒä¹ ï¼Œé¦–å…ˆéœ€è¦æ‰§è¡Œä¸‹é¢çš„ä»£ç ç”Ÿæˆç¤ºä¾‹æ•°æ®ï¼Œå¹¶åº”ç®€å•æŸ¥çœ‹ä¸€ä¸‹

In [125]:
df7 = pd.DataFrame(np.arange(1,37).reshape([9,4]), columns=["A", "B","C","D"])
df7['item'] = ['Apple','Xiaomi','Huawei'] * 3

### 18 - cumsumï½œæŒ‰åˆ—

å°† df7 æŒ‰åˆ—è¿›è¡Œç´¯åŠ

In [126]:
df7[list('ABCD')].cumsum()

     A    B    C    D
0    1    2    3    4
1    6    8   10   12
2   15   18   21   24
3   28   32   36   40
4   45   50   55   60
5   66   72   78   84
6   91   98  105  112
7  120  128  136  144
8  153  162  171  180

### 19 - cumsumï½œæŒ‰è¡Œ

å°† df7 æŒ‰è¡Œè¿›è¡Œç´¯åŠ

In [ ]:
df[list('ABCD')].cumsum(axis = 1)

### 20 - cumsumï½œæŒ‰ç»„

å°† df7 æŒ‰ç…§ `item` æŒ‰ä¸åŒç»„å¯¹ç¬¬ A åˆ—è¿›è¡Œç´¯åŠ

In [ ]:
df7 = df.sort_values(['item']).reset_index(drop=True)
df7['cusum']=df.groupby('item')['A'].cumsum(axis=0)

## 9-8 `append`ï½œæ·»åŠ 

åœ¨å¾ˆå¤šæ•™ç¨‹ï¼ŒåŒ…æ‹¬ [pandas å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html#appending-rows-to-a-dataframe)ä¸­ï¼Œéƒ½å°† append ç»“åˆ mergeã€concatã€join ä¸€èµ·è®²è§£

ä½†æ˜¯å¯¹æˆ‘æ¥è¯´ï¼Œè™½ç„¶appendå¾—åˆ°çš„ç»“æœä¹Ÿç±»ä¼¼åˆå¹¶ï¼Œå¯å®ƒå¸¸å¸¸å‡ºç°çš„åœ°æ–¹å°±æ˜¯å®ƒçš„å­—é¢æ„æ€ -> æ·»åŠ ï¼ˆè¿½åŠ ï¼‰

æ‰€ä»¥æˆ‘å°†åœ¨è¿™é‡Œä»‹ç» append

ä¸‹é¢æ˜¯å‡ ä¸ª append çš„å¸¸ç”¨æ“ä½œï¼Œä¸ºäº†æ–¹ä¾¿ç»ƒä¹ ï¼Œé¦–å…ˆéœ€è¦æ‰§è¡Œä¸‹é¢çš„ä»£ç ç”Ÿæˆç¤ºä¾‹æ•°æ®ï¼Œå¹¶åº”ç®€å•æŸ¥çœ‹ä¸€ä¸‹

In [127]:
df8 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],
)

s2 = pd.Series(["X0", "X1", "X2", "X3"], index=["A", "B", "C", "D"])
s3 = pd.DataFrame({"A": ['s1'],"B": ['s2'],"C": ['s3'],"D": ['s4']})
dicts = [{"A": 1, "B": 2, "C": 3, "X": 4}, {"A": 5, "B": 6, "C": 7, "Y": 8}]

### 21 - appendï½œæœ«å°¾è¿½åŠ 

å°† s2 æ·»åŠ è‡³ df8 çš„æœ«å°¾

![](https://pandas.pydata.org/pandas-docs/stable/_images/merging_append_series_as_row.png)

In [129]:
result = df8.append(s2, ignore_index=True)

### 22 - appendï½œæŒ‡å®šä½ç½®è¿½åŠ 

å°† s3 æ·»åŠ è‡³ df8 çš„ç¬¬ä¸‰è¡Œ

In [130]:
df9 = df8.iloc[:2, :]
df10 = df8.iloc[2:, :]

pd.concat([df9, s3, df10])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
0  s1  s2  s3  s4
2  A2  B2  C2  D2
3  A3  B3  C3  D3

### 23 - appendï½œæ·»åŠ å­—å…¸

å°†ä¸‹é¢çš„å­—å…¸ dicts æ’å…¥æ·»åŠ è‡³ df8ï¼Œå¹¶ä¿ç•™ç´¢å¼•ï¼Œå¦‚ä¸‹å›¾æ‰€ç¤º

![](https://pandas.pydata.org/pandas-docs/stable/_images/merging_append_dits.png)

In [131]:
result = df8.append(dicts, ignore_index=True, sort=False)

## 9-9 `compare` æ¯”è¾ƒ

<br>

`compare` ç”¨äºæ¯”è¾ƒä¸¤ä¸ªæ•°æ®æ¡†ä¹‹é—´çš„å·®å¼‚

[ğŸ‘‰å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.compare.html)


ä¸ºäº†æ–¹ä¾¿ç»ƒä¹ ï¼Œé¦–å…ˆéœ€è¦æ‰§è¡Œä¸‹é¢çš„ä»£ç ç”Ÿæˆç¤ºä¾‹æ•°æ®ï¼Œå¹¶åº”ç®€å•æŸ¥çœ‹ä¸€ä¸‹

In [132]:
df9 = pd.DataFrame(
    {
        "col1": ["a", "a", "b", "b", "a"],
        "col2": [1.0, 2.0, 3.0, np.nan, 5.0],
        "col3": [1.0, 2.0, 3.0, 4.0, 5.0]
    },
    columns=["col1", "col2", "col3"],
)


df10 = df9.copy()
df10.loc[0, 'col1'] = 'c'
df10.loc[2, 'col3'] = 4.0

### 24 - compareï½œå¸¸è§„

è¾“å‡º df9 å’Œ df10 çš„å·®å¼‚

In [134]:
df9.compare(df10)

  col1       col3
  self other self other
0    a     c  NaN   NaN
2  NaN   NaN  3.0   4.0

### 25 - compareï½œä¿ç•™æ•°æ®æ¡†

åœ¨ä¸Šä¸€é¢˜çš„è¦æ±‚ä¸‹ï¼Œä¿ç•™åŸæ•°æ®æ¡†

In [135]:
df9.compare(df10, keep_shape=True)

  col1       col2       col3
  self other self other self other
0    a     c  NaN   NaN  NaN   NaN
1  NaN   NaN  NaN   NaN  NaN   NaN
2  NaN   NaN  NaN   NaN  3.0   4.0
3  NaN   NaN  NaN   NaN  NaN   NaN
4  NaN   NaN  NaN   NaN  NaN   NaN

### 26 - compareï½œä¿ç•™å€¼

åœ¨ä¸Šä¸€é¢˜çš„åŸºç¡€ä¸Šï¼Œå†ä¿ç•™åŸå§‹ç›¸åŒçš„å€¼

In [136]:
df9.compare(df10, keep_shape=True, keep_equal=True)

  col1       col2       col3
  self other self other self other
0    a     c  1.0   1.0  1.0   1.0
1    a     a  2.0   2.0  2.0   2.0
2    b     b  3.0   3.0  3.0   4.0
3    b     b  NaN   NaN  4.0   4.0
4    a     a  5.0   5.0  5.0   5.0